In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
import seaborn as sns

In [106]:
pd.set_option('display.max_rows', 500)

In [107]:
calendar = pd.read_csv('C:\\Users\\Danny\\Desktop\\GITHUB\\DANIELWALLACE_CAPSTONE2\\DANIELWALLACE_CAPSTONE2DATA\\calendar.csv')
calendar

,listing_id,date,available,price,adjusted_price,minimum_nights,maximum_nights
0,62901,2020-06-17,f,$55.00,$55.00,1.0,730.0
1,147244,2020-06-15,f,$149.00,$149.00,3.0,90.0
2,147244,2020-06-16,f,$149.00,$149.00,3.0,90.0
3,147244,2020-06-17,f,$149.00,$149.00,3.0,90.0
4,147244,2020-06-18,f,$149.00,$149.00,3.0,90.0
...,...,...,...,...,...,...,...
30553639,43737744,2021-06-08,t,$83.00,$83.00,730.0,1125.0
30553640,43737744,2021-06-09,t,$83.00,$83.00,730.0,1125.0
30553641,43737744,2021-06-10,t,$83.00,$83.00,730.0,1125.0
30553642,43737744,2021-06-11,t,$83.00,$83.00,730.0,1125.0
30553643,43737744,2021-06-12,t,$83.00,$83.00,730.0,1125.0

In [10]:
calendar.to_csv('calendar_c.csv')

In [3]:
reviews = pd.read_csv('C:\\Users\\Danny\\Desktop\\GITHUB\DANIELWALLACE_CAPSTONE2\\DANIELWALLACE_CAPSTONE2DATA\\reviews.csv')
reviews

         listing_id        date
0             11551  2010-03-21
1             11551  2010-03-29
2             11551  2010-05-09
3             11551  2010-06-01
4             11551  2010-06-28
...             ...         ...
1415073    43439400  2020-06-03
1415074    43440726  2020-06-07
1415075    43447354  2020-06-02
1415076    43463173  2020-06-07
1415077    43564804  2020-06-07

[1415078 rows x 2 columns]

In [13]:
reviews.to_csv('reviews_c.csv')

In [3]:
listings = pd.read_csv('C:\\Users\\Danny\\Desktop\\GITHUB\DANIELWALLACE_CAPSTONE2\\DANIELWALLACE_CAPSTONE2DATA\\listings.csv')
listings

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11551,Arty and Bright London Apartment in Zone 2,43039,Adriano,NaN,Lambeth,51.46225,-0.11732,Entire home/apt,88,2,192,2020-03-26,1.54,2,347
1,13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.56802,-0.11121,Private room,65,1,21,2020-02-22,0.18,3,347
2,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.48796,-0.16898,Entire home/apt,100,10,89,2020-03-16,0.70,1,288
3,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,67564,Liz,NaN,Westminster,51.52195,-0.14094,Entire home/apt,300,3,42,2019-11-02,0.37,15,326
4,17506,Boutique Chelsea/Fulham Double bed 5-star ensuite,67915,Charlotte,NaN,Hammersmith and Fulham,51.47935,-0.19743,Private room,150,3,0,NaN,NaN,2,346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83706,43747259,Room with Complete Privacy - Zone 1 Central Lo...,349591259,H,NaN,Westminster,51.51828,-0.15819,Private room,28,1,0,NaN,NaN,1,71
83707,43748104,Sophisticated 3 Bed Apartment Next To River Th...,175128252,Gospodin,NaN,Greenwich,51.48324,-0.01782,Entire home/apt,1880,1,0,NaN,NaN,30,347
83708,43748730,Amazing 1 Bedroom 1 Bath Apartment Safe & Secure,270804039,London,NaN,Barnet,51.59415,-0.24879,Entire home/apt,66,3,0,NaN,NaN,1,73
83709,43749033,King room with OWN bathroom in central London,290487366,Barry,NaN,Southwark,51.50370,-0.09526,Private room,69,7,0,NaN,NaN,1,54
83710,43751716,Double room with separate kitchen and bathroom,149258135,Ilona,NaN,Tower Hamlets,51.51105,-0.01837,Entire home/apt,55,29,0,NaN,NaN,2,60

In [118]:
pd.set_option('display.expand_frame_repr', True)
listings['last_review'].fillna("None", inplace = True)
listings['reviews_per_month'].fillna("None", inplace = True)
listings['name'].fillna("None", inplace = True)
listings.head(100)

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11551,Arty and Bright London Apartment in Zone 2,43039,Adriano,NaN,Lambeth,51.46225,-0.11732,Entire home/apt,88,2,192,2020-03-26,1.54,2,347
1,13913,Holiday London DB Room Let-on going,54730,Alina,NaN,Islington,51.56802,-0.11121,Private room,65,1,21,2020-02-22,0.18,3,347
2,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,NaN,Kensington and Chelsea,51.48796,-0.16898,Entire home/apt,100,10,89,2020-03-16,0.7,1,288
3,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,67564,Liz,NaN,Westminster,51.52195,-0.14094,Entire home/apt,300,3,42,2019-11-02,0.37,15,326
4,17506,Boutique Chelsea/Fulham Double bed 5-star ensuite,67915,Charlotte,NaN,Hammersmith and Fulham,51.47935,-0.19743,Private room,150,3,0,None,None,2,346
5,25123,Clean big Room in London (Room 1),103583,Grace,NaN,Barnet,51.57224,-0.20906,Private room,29,10,129,2020-03-15,1.04,3,348
6,33332,Beautiful Ensuite Richmond-upon-Thames borough,144444,Chi-Chi,NaN,Hounslow,51.46507,-0.32421,Private room,100,1,6,2020-03-08,0.05,2,348
7,36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,NaN,Richmond upon Thames,51.47934,-0.28066,Entire home/apt,195,3,77,2019-10-30,0.66,1,334
8,36660,You are GUARANTEED to love this,157884,Agri & Roger,NaN,Haringey,51.58461,-0.16170,Private room,72,2,528,2020-02-17,4.44,4,311
9,36986,Gorgeous Victorian Flat Overlooking London Fields,159556,Michael,NaN,Hackney,51.53972,-0.05885,Entire home/apt,80,6,52,2019-03-30,0.44,1,71
10,37384,In the footsteps of William Blake..,161459,Liz,NaN,Southwark,51.46871,-0.06455,Private room,70,2,55,2019-06-27,0.46,1,347
11,38151,Double room/ lounge,163634,Lisa,NaN,Croydon,51.41940,-0.08722,Private room,65,1,0,None,None,1,348
12,38407,Canary Wharf Apt sleeps 2 short walk to tube,164566,John,NaN,Tower Hamlets,51.49995,-0.02624,Entire home/apt,65,2,137,2017-04-21,1.16,1,161
13,38605,SUNNY ROOM PRIVATE BATHROOM PLUS BREAKFAST,165579,Elisa & Dom,NaN,Hammersmith and Fulham,51.50687,-0.23328,Private room,62,2,366,2020-03-15,3.12,2,126
14,38610,CHARMING FAMILY HOME SLEEPS 10,165579,Elisa & Dom,NaN,Hammersmith and Fulham,51.50819,-0.23284,Entire home/apt,296,5,35,2020-02-28,0.37,2,58
15,38950,Room 1 Large Double Bedroom - front ground floor,167107,Paul,NaN,Haringey,51.58730,-0.08606,Private room,45,1,0,None,None,4,72
16,38995,SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT,167281,Cesar,NaN,Southwark,51.47871,-0.06063,Private room,39,1,6,2020-02-21,1.38,1,72
17,39387,Stylish bedsit in Notting Hill ish flat.,168920,Alec,NaN,Westminster,51.52589,-0.19942,Private room,39,5,10,2019-11-03,0.14,1,69
18,40228,Room 4 Cosy Double Bedroom on First Floor,167107,Paul,NaN,Haringey,51.58860,-0.08805,Private room,29,1,0,None,None,4,73
19,41311,Clean big Room in London (Room 2),103583,Grace,NaN,Barnet,51.57375,-0.20890,Private room,25,10,84,2020-01-18,0.71,3,86
20,41445,2 Double bed apartment in quiet area North London,180838,Sean,NaN,Barnet,51.61648,-0.25788,Entire home/apt,105,4,21,2019-09-19,0.21,1,348
21,41509,Room in maisonette in chiswick,181028,Peter,NaN,Hounslow,51.49157,-0.25600,Private room,49,1,71,2019-12-23,0.65,1,160
22,41712,Room with a view zone 1 Central Bankside,182322,Nina,NaN,Southwark,51.50205,-0.10015,Private room,60,1,92,2019-12-17,0.81,2,346
23,41870,Room in relaxed family house!,182993,Bimpe,NaN,Waltham Forest,51.55842,0.00382,Private room,35,2,2,2011-07-02,0.02,1,0
24,42001,A room with a view in Kensington,183658,Maria,NaN,Hammersmith and Fulham,51.49441,-0.20479,Private room,60,3,167,2019-10-23,1.39,2,49
25,42010,You Will Save Money Here,157884,Agri & Roger,NaN,Barnet,51.58611,-0.16272,Private room,45,2,511,2020-03-06,4.31,4,336
26,42692,Fabulous flat w garden and bkfst!,186510,Shelley,NaN,Hammersmith and Fulham,51.50803,-0.21599,Private room,125,1,0,None,None,1,0
27,43129,Quiet Comfortable Room in Fulham,188138,Sylvan,NaN,Hammersmith and Fulham,51.48172,-0.20957,Private room,36,2,197,2020-03-16,2.34,3,346
28,43202,Beautiful 1 bed apt in Queens Park,188559,Calypso,NaN,Brent,51.53033,-0.21734,Entire home/apt,100,4,105,2020-03-08,1.1,1,32
29,44144,Elegant Stylish Bedroom - Double Ensuite,193280,Sally,NaN,Hammersmith and Fulham,51.47511,-0.19263,Private room,65,3,35,2019-07-13,0.42,2,59
30,44237,Elegant Cosy Bedroom - Double Room,193280,Sally,NaN,Hammersmith and Fulham,51.47394,-0.19355,Private room,55,1,10,2020-03-06,0.12,2,71
31,44384,SINGLE ROOM IN A PENTHOUSE APARTMEN,194769,S,NaN,Barnet,51.59554,-0.24187,Private room,30,90,1,2012-07-26,0.01,4,348
32,45163,Room with a garden,199530,Deb,NaN,Camden,51.55224,-0.19964,Private room,40,2,1,2015-10-10,0.02,1,252
33,45168,Best Part of Town -Home from Home!,199549,Lina,NaN,Westminster,51.51737,-0.19576,Entire home/apt,125,3,102,2020-01-03,0.86,1,0
34,46511,Apartment with two large double bedrooms,208052,Domenico,NaN,Newham,51.53604,0.01940,Private room,80,4,0,None,None,1,348
35,46961,ONE BEDROOM IN NEW DEVELOPMENT,194769,S,NaN,Kensington and Chelsea,51.48055,-0.18238,Entire home/apt,150,6,0,None,None,4,346
36,47192,Single Room in zone 1,212734,"Let'S Dance, Put On Your Red Shoes",NaN,Camden,51.52970,-0.14384,Private room,39,2,373,2019-12-28,3.15,1,251
37,47687,Cosy Double studio in Zone 2 Hammersmith (6),216660,Boris,NaN,Hammersmith and Fulham,51.49506,-0.22750,Entire home/apt,78,2,66,2020-05-31,0.56,11,347
38,49970,Beautiful Small Studio Hammersmith,216660,Boris,NaN,Hammersmith and Fulham,51.49527,-0.22938,Hotel room,88,1,86,2020-04-30,0.75,11,181
39,51830,Fantastic Period Flat Notting Hill,239020,Sarah,NaN,Westminster,51.51757,-0.19195,Entire home/apt,120,2,121,2020-01-01,1.05,1,55
40,52940,You will LOVE this view,157884,Agri & Roger,NaN,Barnet,51.58634,-0.16392,Private room,45,2,284,2020-03-01,2.41,4,208
41,53242,Beautiful double bedroom Stockwell,247650,Louise,NaN,Lambeth,51.47075,-0.12913,Private room,55,14,8,2016-08-13,0.11,2,345
42,53245,Beautiful Victorian apartment in Stockwell,247650,Louise,NaN,Lambeth,51.47246,-0.12727,Entire home/apt,65,14,6,2016-08-09,0.08,2,333
43,55133,Results: All Love this Room,157884,Agri & Roger,NaN,Haringey,51.58410,-0.16188,Private room,49,2,232,2020-03-11,2.01,4,222
44,55402,"Modern 2 Bed 2 Bath, UK, Croydon",57861,Beth,NaN,Croydon,51.37438,-0.11770,Entire home/apt,55,14,2,2018-11-09,0.09,1,0
45,55706,Amazing 2 bed 2 bath flat in central London,211108,Simon,NaN,Westminster,51.49588,-0.15440,Entire home/apt,250,5,92,2020-02-02,0.79,3,302
46,56229,Cosy Double studio in Zone 2 Hammersmith (1),216660,Boris,NaN,Hammersmith and Fulham,51.49355,-0.22864,Entire home/apt,78,1,38,2016-07-25,0.32,11,347
47,56784,1 twinroom,269609,Trudi,NaN,Croydon,51.39998,-0.10548,Private room,35,1,0,None,None,2,345
48,59656,PASSING THROUGH Paddington LONDON?,196620,Fay,NaN,Westminster,51.52404,-0.18494,Private room,75,1,197,2020-03-03,1.7,3,347
49,62218,Spacious Upmarket Belsize Park,302657,Ester,NaN,Camden,51.55685,-0.16058,Entire home/apt,150,1,74,2020-01-31,0.64,13,0
50,62747,Beautiful huge double room in artist’s garden ...,289179,Jacinta,NaN,Tower Hamlets,51.52126,-0.05696,Private room,38,2,100,2020-03-08,5.01,2,50
51,62898,Economy stay,306592,Khalid,NaN,Redbridge,51.56093,0.06692,Private room,49,1,0,None,None,7,345
52,62901,Twin Room (shared bathroom ),306592,Khalid,NaN,Redbridge,51.55942,0.06846,Private room,55,1,0,None,None,7,348
53,63864,FASCINATING ONE BEDROOM APT IN CANARY WHARF,54987,Prateek,NaN,Tower Hamlets,51.49946,-0.01934,Entire home/apt,135,4,11,2019-09-10,0.13,45,347
54,63948,Cosy Double studio in Zone 2 Hammersmith (4),216660,Boris,NaN,Hammersmith and Fulham,51.49402,-0.22724,Entire home/apt,57,3,23,2017-03-30,0.22,11,347
55,64429,Portobello Road Notting hill. Exceptional value.,193586,Julie,NaN,Kensington and Chelsea,51.52053,-0.20968,Private room,55,1,449,2020-03-10,3.9,2,266
56,65638,Gorgeous London garden apartment,320901,Mike,NaN,Southwark,51.48624,-0.09624,Entire home/apt,85,6,184,2020-01-03,1.69,2,239
57,65908,Lovely room in cool Brixton,322341,Kate,NaN,Lambeth,51.45971,-0.12008,Private room,80,2,0,None,None,1,0
58,66772,Cosy Double studio in Zone 2 Hammersmith (3),216660,Boris,NaN,Hammersmith and Fulham,51.49404,-0.22738,Private room,75,1,53,2020-03-23,0.46,11,347
59,67025,Charming Flat in Private Mews in a Great location,211108,Simon,NaN,Westminster,51.49600,-0.15422,Entire home/apt,150,3,123,2020-03-29,1.09,3,318
60,67934,NICE FAMILY HOME opposite NATURAL LANDSCAPED PARK,335716,Laura D,NaN,Barnet,51.60202,-0.26139,Private room,23,5,29,2020-01-03,0.28,2,345
61,69119,Ensuite double room,306592,Khalid,NaN,Redbridge,51.56131,0.06822,Private room,70,1,0,None,None,7,348
62,69198,Spacious single room in quiet flat,345886,Alda,NaN,Haringey,51.59016,-0.09427,Private room,30,3,11,2019-12-13,0.11,1,348
63,70482,Fabulous Hackney flat Victoria Park London fi...,357352,Michael,NaN,Hackney,51.54049,-0.04916,Entire home/apt,95,5,0,None,None,1,294
64,71875,"Bright Very Central 1-Bed in W1. King Bed, Wifi",67564,Liz,NaN,Camden,51.52216,-0.13859,Entire home/apt,148,3,74,2019-11-25,0.71,15,324
65,72059,John and Normas Homestay B&B,371121,John,NaN,Haringey,51.59583,-0.14223,Private room,80,1,56,2020-03-08,0.5,1,208
66,72913,Dbl en suite @ Oval tube Sth London,379315,Matthew,NaN,Lambeth,51.48064,-0.11439,Private room,45,2,157,2020-03-03,1.39,1,14
67,73431,Two bedroom luxury Flat in Brixton with city v...,383525,Emi,NaN,Lambeth,51.46295,-0.11200,Entire home/apt,52,3,64,2020-02-29,0.77,1,17
68,73884,Cosy Double studio in Zone 2 Hammersmith (2),216660,Boris,NaN,Hammersmith and Fulham,51.49384,-0.22789,Entire home/apt,99,1,66,2020-04-05,0.58,11,166
69,75120,A Fab Family house in Kensington,183658,Maria,NaN,Hammersmith and Fulham,51.49389,-0.20418,Entire home/apt,400,2,128,2020-02-15,1.34,2,338
70,76932,VACATIONS / HOLIDAYS IN LONDON ?,196620,Fay,NaN,Westminster,51.52423,-0.18481,Entire home/apt,200,1,35,2020-01-01,0.35,3,346
71,78606,Peaceful Room Near Epping Forest,422362,Nicola,NaN,Waltham Forest,51.57157,0.01088,Private room,45,1,2,2019-09-26,0.22,1,348
72,78892,Bright single room in family home.,424230,Julia,NaN,Southwark,51.46452,-0.07970,Private room,32,3,56,2019-11-24,0.88,1,0
73,79129,Double Room 2 Miles from Wimbledon in Morden SM4,425764,Danielle,NaN,Merton,51.39711,-0.21342,Private room,29,1,140,2020-03-08,1.5,1,308
74,79216,"2 twin beds in dble rm, Catford, UK",426378,Thesla,NaN,Lewisham,51.43828,-0.01975,Private room,60,2,0,None,None,1,348
75,79488,Charming Apartment Amazing Location,428080,Christopher,NaN,Westminster,51.51934,-0.16629,Entire home/apt,140,7,16,2020-02-05,0.54,1,330
76,79571,Chelsea Studio by Kings Road London,428600,Nicholas,NaN,Kensington and Chelsea,51.49170,-0.16183,Entire home/apt,85,2,13,2017-07-03,0.12,1,0
77,80123,Pretty Self Contained Coach House,432648,Melanie,NaN,Wandsworth,51.45330,-0.15646,Entire home/apt,95,2,134,2020-03-16,1.22,1,0
78,80441,5min from the Big Ben,416812,Esther,NaN,Lambeth,51.49494,-0.12004,Entire home/apt,95,20,90,2020-03-15,0.81,1,59
79,81015,DOUBLE ROOM,269609,Trudi,NaN,Croydon,51.40092,-0.10452,Private room,35,1,0,None,None,2,348
80,81052,Bright spacious 2 bed in Islington,438948,Aslak,NaN,Islington,51.53924,-0.10209,Entire home/apt,133,6,10,2018-04-06,0.12,1,0
81,81080,Luxury Self contained Studio Apt.,439154,Lucy,NaN,Richmond upon Thames,51.40644,-0.33563,Hotel room,180,2,8,2019-07-13,0.27,5,313
82,81211,Hampstead Home from home in great area.,439880,Liz,NaN,Camden,51.54838,-0.16344,Entire home/apt,110,14,8,2019-07-01,0.1,1,345
83,81410,LUx inCENTRAL LONDON NEAR OXFORD ST,441494,Fernando,NaN,Westminster,51.52123,-0.14033,Entire home/apt,290,30,210,2020-02-23,1.93,4,337
84,81449,Stylish Central London Flat with pool and terrace,441736,Kris,NaN,Tower Hamlets,51.51061,-0.06646,Entire home/apt,140,1,187,2020-03-09,1.68,2,106
85,81470,3 bedroom / 2 Bathroom house in West London,441886,William & Emilia,NaN,Hammersmith and Fulham,51.49624,-0.23319,Entire home/apt,250,5,78,2019-10-08,0.71,4,55
86,81473,"Lush room in Crystal Palace, London",441881,Petra,NaN,Bromley,51.41642,-0.07645,Private room,40,2,61,2019-11-03,0.55,1,61
87,81635,"Clerkenwell penthouse, huge terrace",443041,Carol,NaN,Islington,51.52842,-0.11141,Private room,99,4,56,2020-01-11,0.66,2,312
88,81951,LONDON DETACHED HOUSE*ElecGates etc,445322,Richard,NaN,Havering,51.58519,0.15639,Entire home/apt,190,5,0,None,None,1,348
89,83308,Luxury Queens Park Apartment,454121,Bradley,NaN,Brent,51.53720,-0.19262,Entire home/apt,120,90,30,2018-07-03,0.37,2,0
90,84532,"Cosy Double room London, River View",462165,Murielle,NaN,Hackney,51.57552,-0.06052,Private room,25,2,80,2020-03-03,1.16,1,60
91,84640,Room near Alexandra Palace park.,462651,Maria,NaN,Haringey,51.58937,-0.12274,Private room,40,1,5,2019-07-23,0.25,2,73
92,85111,3 bedroom house in Wimbledon with parking,465847,Isabelle,NaN,Merton,51.41944,-0.20749,Entire home/apt,120,30,48,2019-09-06,1.55,1,0
93,85191,Maisonette in Central London Zone 1,466353,Elisabetta,NaN,Lambeth,51.48968,-0.11637,Private room,58,2,415,2020-02-23,3.72,1,345
94,85406,Spacious 2bd 2bth Victorian home central London,467835,Cass,NaN,Westminster,51.51848,-0.18554,Entire home/apt,145,4,36,2019-12-31,0.33,3,0
95,85582,Room to let,468831,Aliye,NaN,Hackney,51.56472,-0.05362,Private room,15,1,0,None,None,1,252
96,86092,"Lovely, spacious garden apartment.",472474,Amy Gabriella,NaN,Hammersmith and Fulham,51.48699,-0.19826,Entire home/apt,100,3,95,2020-02-29,0.89,1,322
97,87514,Gorgeous Spacious Bloomsbury Studio,352607,Andrea,NaN,Camden,51.52509,-0.11440,Entire home/apt,99,1,173,2020-01-07,1.6,1,331
98,87827,ChiqDoube Room in PrivateAppartment,479209,Paullus,NaN,Westminster,51.51106,-0.18922,Private room,150,30,0,None,None,1,344
99,88032,Wimbledon Luxury Home Twin Room,481587,Angela,NaN,Wandsworth,51.44593,-0.20608,Private room,60,2,38,2019-08-02,0.41,2,153

In [3]:
listings.loc[listings['id'] == 36506408]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
62758,36506408,Queens Court-Flat 92A,149362525,Short Let,NaN,Westminster,51.51187,-0.18872,Entire home/apt,19929,1,0,NaN,NaN,32,344

In [119]:
print(pd.__version__)

1.0.5

In [112]:
pd.get_option("display.max_rows")

500

In [9]:
listings.drop(['neighbourhood_group'], axis = 1, inplace = True)
listings

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11551,Arty and Bright London Apartment in Zone 2,43039,Adriano,Lambeth,51.46225,-0.11732,Entire home/apt,88,2,192,2020-03-26,1.54,2,347
1,13913,Holiday London DB Room Let-on going,54730,Alina,Islington,51.56802,-0.11121,Private room,65,1,21,2020-02-22,0.18,3,347
2,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,Kensington and Chelsea,51.48796,-0.16898,Entire home/apt,100,10,89,2020-03-16,0.7,1,288
3,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,67564,Liz,Westminster,51.52195,-0.14094,Entire home/apt,300,3,42,2019-11-02,0.37,15,326
4,17506,Boutique Chelsea/Fulham Double bed 5-star ensuite,67915,Charlotte,Hammersmith and Fulham,51.47935,-0.19743,Private room,150,3,0,None,None,2,346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83706,43747259,Room with Complete Privacy - Zone 1 Central Lo...,349591259,H,Westminster,51.51828,-0.15819,Private room,28,1,0,None,None,1,71
83707,43748104,Sophisticated 3 Bed Apartment Next To River Th...,175128252,Gospodin,Greenwich,51.48324,-0.01782,Entire home/apt,1880,1,0,None,None,30,347
83708,43748730,Amazing 1 Bedroom 1 Bath Apartment Safe & Secure,270804039,London,Barnet,51.59415,-0.24879,Entire home/apt,66,3,0,None,None,1,73
83709,43749033,King room with OWN bathroom in central London,290487366,Barry,Southwark,51.50370,-0.09526,Private room,69,7,0,None,None,1,54
83710,43751716,Double room with separate kitchen and bathroom,149258135,Ilona,Tower Hamlets,51.51105,-0.01837,Entire home/apt,55,29,0,None,None,2,60

In [4]:
listings.loc[listings['id'] == 389747]

,id,name,host_id,host_name,neighbourhood_group,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
522,389747,Bright Dbl/Nr/ Excellnt Transp,1949877,NokuMary,NaN,Southwark,51.42869,-0.08399,Private room,230,1,0,NaN,NaN,1,345

In [14]:
listings.loc[listings['room_type'] == 'Entire home/apt']

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11551,Arty and Bright London Apartment in Zone 2,43039,Adriano,Lambeth,51.46225,-0.11732,Entire home/apt,88,2,192,2020-03-26,1.54,2,347
2,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,Kensington and Chelsea,51.48796,-0.16898,Entire home/apt,100,10,89,2020-03-16,0.7,1,288
3,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,67564,Liz,Westminster,51.52195,-0.14094,Entire home/apt,300,3,42,2019-11-02,0.37,15,326
7,36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,Richmond upon Thames,51.47934,-0.28066,Entire home/apt,195,3,77,2019-10-30,0.66,1,334
9,36986,Gorgeous Victorian Flat Overlooking London Fields,159556,Michael,Hackney,51.53972,-0.05885,Entire home/apt,80,6,52,2019-03-30,0.44,1,71
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83704,43745001,"One bedroom, The flat designed for modern living",159681846,Michael,Lambeth,51.48998,-0.12308,Entire home/apt,135,28,0,None,None,3,347
83705,43746367,Knightsbridge Chelsea Riverside Park Apartment,47362142,Roman,Wandsworth,51.48329,-0.14898,Entire home/apt,189,21,0,None,None,10,347
83707,43748104,Sophisticated 3 Bed Apartment Next To River Th...,175128252,Gospodin,Greenwich,51.48324,-0.01782,Entire home/apt,1880,1,0,None,None,30,347
83708,43748730,Amazing 1 Bedroom 1 Bath Apartment Safe & Secure,270804039,London,Barnet,51.59415,-0.24879,Entire home/apt,66,3,0,None,None,1,73
83710,43751716,Double room with separate kitchen and bathroom,149258135,Ilona,Tower Hamlets,51.51105,-0.01837,Entire home/apt,55,29,0,None,None,2,60

In [91]:
Dagenham = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Barking and Dagenham')]
Dagenham_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2823,2009513,"Luxurious 3 Bed 2 Bath Apartment , Free Parking",290846,Sanjay,Barking and Dagenham,51.55064,0.11333,Entire home/apt,85,7,32,2019-09-14,0.46,2,345
6310,5358047,Barking Guesthouse Flat for 4person,27774033,Kanchan,Barking and Dagenham,51.52668,0.10882,Entire home/apt,115,10,0,None,None,7,348
6311,5358342,Barking Guesthouse Flat for 4person,27774033,Kanchan,Barking and Dagenham,51.52661,0.11054,Entire home/apt,130,30,0,None,None,7,348
8284,6891298,Brand new 2 bed Apartment London,10313522,Shelise,Barking and Dagenham,51.55052,0.12520,Entire home/apt,78,1,0,None,None,1,0
9965,7843089,"4 bed flat, close to station,free wifi, sleeps 6",41325627,Mohammed Shalim,Barking and Dagenham,51.54037,0.07243,Entire home/apt,170,3,15,2018-02-09,0.25,1,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81188,42884246,Unique & Cosy Studio Flat,8325405,Bukky,Barking and Dagenham,51.54055,0.13287,Entire home/apt,50,3,0,None,None,1,0
81480,42937842,Impeccable 2-Bed Cottage in Dagenham,310835509,TravelNest,Barking and Dagenham,51.54346,0.16781,Entire home/apt,150,1,0,None,None,19,348
82557,43233499,2 bed flat close to barking train station &par...,20508176,Kay,Barking and Dagenham,51.53831,0.08412,Entire home/apt,60,3,0,None,None,3,345
83075,43458451,1 bedroom flat 30sec walk from Barking Undergr...,69944717,Bilam,Barking and Dagenham,51.53957,0.07995,Entire home/apt,69,14,0,None,None,1,73
83374,43602904,Ellite Home,313933445,Elite,Barking and Dagenham,51.56385,0.13262,Entire home/apt,100,3,0,None,None,2,345

In [92]:
Barnet_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Barnet')]
Barnet_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
20,41445,2 Double bed apartment in quiet area North London,180838,Sean,Barnet,51.61648,-0.25788,Entire home/apt,105,4,21,2019-09-19,0.21,1,348
399,338198,Stylish 2 Bed Apartment with Balcony,1718539,Mojdeh,Barnet,51.56285,-0.19551,Entire home/apt,150,2,36,2020-01-06,1,1,348
752,460379,Beautiful Family Home North London,2289099,Daisy,Barnet,51.62758,-0.16853,Entire home/apt,130,21,0,None,None,1,348
938,525056,Beautiful Family Home near Tube,2581266,Elli,Barnet,51.59092,-0.17535,Entire home/apt,200,21,0,None,None,1,0
1128,587412,Lovely 1 bed flat in Colindale/ Hendon,478692,Temi From Scion Property Management,Barnet,51.58507,-0.24658,Entire home/apt,120,7,10,2019-08-08,0.12,17,163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83364,43598756,Bright and cozy studio flat in Borehamwood.,206468268,Kornelia,Barnet,51.64510,-0.25913,Entire home/apt,50,3,0,None,None,2,0
83382,43604688,Sleep under the stars!!!,348124006,B,Barnet,51.64433,-0.26115,Entire home/apt,49,3,0,None,None,1,163
83397,43614148,Modern living space with full\nAmenities,7562689,Aaron,Barnet,51.58705,-0.19993,Entire home/apt,82,1,0,None,None,1,345
83630,43711736,Cosy self contained living space,73203128,Vainius,Barnet,51.60223,-0.25795,Entire home/apt,60,7,0,None,None,2,73
83708,43748730,Amazing 1 Bedroom 1 Bath Apartment Safe & Secure,270804039,London,Barnet,51.59415,-0.24879,Entire home/apt,66,3,0,None,None,1,73

In [93]:
Brent_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Brent')]
Brent_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
28,43202,Beautiful 1 bed apt in Queens Park,188559,Calypso,Brent,51.53033,-0.21734,Entire home/apt,100,4,105,2020-03-08,1.1,1,32
89,83308,Luxury Queens Park Apartment,454121,Bradley,Brent,51.53720,-0.19262,Entire home/apt,120,90,30,2018-07-03,0.37,2,0
175,178519,Newly refurbished 2-bed apartment,1954110,Tariq,Brent,51.53919,-0.24072,Entire home/apt,75,3,15,2016-07-03,0.21,2,349
183,186682,Beautiful Modern Bright Spacious 1-Bed Apartment,897316,Emily,Brent,51.54220,-0.20218,Entire home/apt,80,1,37,2020-03-14,0.52,1,0
251,255332,Artistic flat close to Portobello,1315562,Nicoletta,Brent,51.53039,-0.19745,Entire home/apt,140,3,5,2018-02-23,0.08,4,347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83217,43518991,"MODERN NEWLY REFURBISHED, GREAT LOCATION, ZONE 2",84065638,Riccardo,Brent,51.55997,-0.21974,Entire home/apt,110,5,0,None,None,7,347
83255,43542096,"Stylish Romantic Apartment, in London",34253933,Fabio & Emilia,Brent,51.55717,-0.22377,Entire home/apt,62,2,0,None,None,1,207
83357,43591562,Large Stylish Modern Apartment in NW London Zo...,279098860,Netta,Brent,51.54635,-0.22488,Entire home/apt,69,2,0,None,None,2,160
83531,43664502,Modern apartment with balcony in gated complex,27892104,Dylan Matthew,Brent,51.54471,-0.25413,Entire home/apt,70,1,0,None,None,2,348
83668,43726810,3 Bedroom family townhouse close to tube,62671696,Tristan,Brent,51.53061,-0.22699,Entire home/apt,112,5,0,None,None,1,76

In [94]:
Bromley_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Bromley')]
Bromley_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
581,405099,The lynton boutique,2018776,Cynthia,Bromley,51.40749,-0.00514,Entire home/apt,60,2,19,2020-02-16,0.5,2,226
1716,947200,Overdale Villa Apartment Bromley,4558533,Ko,Bromley,51.41830,0.00128,Entire home/apt,55,3,4,2018-12-11,0.07,3,345
2285,1439449,3 Double beds detached in Beckenham,2357859,Linda,Bromley,51.40136,-0.01159,Entire home/apt,110,7,37,2020-03-08,0.47,1,272
2426,1608341,Cozy 1 Bedroom Crystal Palace Flat,7621037,Daniel,Bromley,51.41362,-0.06929,Entire home/apt,65,30,15,2019-08-03,0.2,1,107
3013,2216824,3 BED HOUSE 17MINS FROM CENTRAL LONDON,10486604,Jon,Bromley,51.41969,-0.05155,Entire home/apt,135,3,99,2020-01-02,1.31,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81739,42992684,"Welcome to Our Home, luxury, 9 miles Cen London",322107481,Nick & Sandy,Bromley,51.41151,0.02823,Entire home/apt,150,3,0,None,None,1,308
82547,43224961,"London camping style, new camper, ideally located",170809471,Trev,Bromley,51.42429,-0.07272,Entire home/apt,130,1,0,None,None,1,135
82554,43229098,MORGAN APARTMENT,344237440,Orlando,Bromley,51.41489,0.01146,Entire home/apt,55,2,0,None,None,1,345
82724,43334934,The Morgan Apartment,329991095,Sarah,Bromley,51.41384,0.01337,Entire home/apt,50,2,0,None,None,2,161
83288,43556558,Beautiful 2 bed flat near Centre of Bromley,111791910,Tom,Bromley,51.40977,0.02181,Entire home/apt,110,1,0,None,None,1,108

In [95]:
Camden_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Camden')]
Camden_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
49,62218,Spacious Upmarket Belsize Park,302657,Ester,Camden,51.55685,-0.16058,Entire home/apt,150,1,74,2020-01-31,0.64,13,0
64,71875,"Bright Very Central 1-Bed in W1. King Bed, Wifi",67564,Liz,Camden,51.52216,-0.13859,Entire home/apt,148,3,74,2019-11-25,0.71,15,324
82,81211,Hampstead Home from home in great area.,439880,Liz,Camden,51.54838,-0.16344,Entire home/apt,110,14,8,2019-07-01,0.1,1,345
97,87514,Gorgeous Spacious Bloomsbury Studio,352607,Andrea,Camden,51.52509,-0.11440,Entire home/apt,99,1,173,2020-01-07,1.6,1,331
142,127652,Contemporary central London apt,134938,Ron,Camden,51.55730,-0.14269,Entire home/apt,120,3,201,2020-06-08,1.84,1,347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83622,43708814,The Camden Retreat - Spacious 4BDR Home + Garden,60103501,Gaia,Camden,51.54586,-0.13485,Entire home/apt,1000,3,0,None,None,10,347
83655,43721247,Beautiful 2 bedroom mews flat in Fitzrovia,348556006,Canguro Properties,Camden,51.52410,-0.13957,Entire home/apt,170,1,0,None,None,10,345
83674,43732209,Gorgeous 2 bed in central,27834248,Dolly,Camden,51.52828,-0.12523,Entire home/apt,160,6,0,None,None,40,344
83683,43735017,Charming garden house in Camden/KX,9961640,Megumi,Camden,51.54055,-0.13502,Entire home/apt,180,6,0,None,None,2,71
83690,43737041,One Bed Superior · Covent Garden St Martins On...,287322902,SACO Covent Garden St Martins,Camden,51.51347,-0.12627,Entire home/apt,500,7,0,None,None,1,344

In [101]:
City_of_London_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'City of London')]
City_of_London_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
146,137581,I Bedroom Apartment Tower of London,471088,Anthony,City of London,51.51173,-0.07659,Entire home/apt,130,2,213,2019-08-10,1.96,2,110
824,482178,Great St Paul's and City location,2176101,Andrew,City of London,51.51578,-0.09496,Entire home/apt,140,4,97,2020-01-22,1.01,1,326
1156,591549,"Smart City studio, lifts, wifi, exclusive use",2919661,Paul,City of London,51.51277,-0.07406,Entire home/apt,99,2,44,2020-03-18,1.14,2,297
1335,673067,"4 minute walk to Tower Bridge, 2 bedrooms, wifi.",2919661,Paul,City of London,51.51277,-0.07444,Entire home/apt,199,2,256,2020-02-23,2.72,2,249
1602,847464,"Luxury flat,Zone1,2bed/2bath/Lounge",1517803,Hilmi,City of London,51.51158,-0.08163,Entire home/apt,220,89,55,2016-09-21,0.62,24,321
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83121,43474756,Two Bed In Central London A2,325614755,Danute,City of London,51.51229,-0.10006,Entire home/apt,169,4,0,None,None,38,183
83122,43474872,Two Bed In Central London A3,325614755,Danute,City of London,51.51192,-0.10015,Entire home/apt,169,4,0,None,None,38,183
83123,43475066,Two Bed In Central London A4,325614755,Danute,City of London,51.51377,-0.10192,Entire home/apt,169,4,0,None,None,38,183
83281,43553723,Great Studio. ideal for stay in the City of Lo...,347659500,Vincent,City of London,51.51143,-0.08336,Entire home/apt,125,14,0,None,None,1,252
83679,43734475,Inner City Living! 1BR Flat in Central London,22038740,Jonathan,City of London,51.51799,-0.10152,Entire home/apt,106,3,0,None,None,1,30

In [29]:
Croydon_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Croydon')]
Croydon_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
44,55402,"Modern 2 Bed 2 Bath, UK, Croydon",57861,Beth,Croydon,51.37438,-0.11770,Entire home/apt,55,14,2,2018-11-09,0.09,1,0
164,166760,"Modern 1 bed flat, fast trains to central london!",794470,Amelia,Croydon,51.38918,-0.06793,Entire home/apt,42,2,18,2020-02-23,0.91,1,29
1973,1186592,Bright & Fresh Apt in croydon- CHR,5319733,Analisa,Croydon,51.37882,-0.08798,Entire home/apt,100,2,47,2017-07-26,0.55,3,74
3372,2669410,Flexistay Deluxe One Bed Apartment,8150858,Pat,Croydon,51.36913,-0.09602,Entire home/apt,68,4,3,2020-01-04,0.15,7,77
4202,3552851,Hidden garden flat with 2 double rooms,17885857,Jo,Croydon,51.41879,-0.08676,Entire home/apt,60,30,0,None,None,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83433,43624245,Westciti Croydon Serviced Apartments Flat- 14,64578918,Rishi,Croydon,51.36791,-0.09532,Entire home/apt,102,3,0,None,None,37,348
83435,43624371,Westciti Croydon Serviced Apartments Flat- 16,64578918,Rishi,Croydon,51.37000,-0.09620,Entire home/apt,102,3,0,None,None,37,349
83437,43624442,Westciti Croydon Serviced Apartments Flat- 13,64578918,Rishi,Croydon,51.36991,-0.09541,Entire home/apt,78,3,0,None,None,37,348
83438,43624501,Westciti Croydon Serviced Apartments Flat- 20A,64578918,Rishi,Croydon,51.36788,-0.09579,Entire home/apt,78,3,0,None,None,37,348
83439,43624504,Westciti Croydon Serviced Apartments Flat- 20B,64578918,Rishi,Croydon,51.36778,-0.09731,Entire home/apt,78,3,0,None,None,37,348

In [30]:
Ealing_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Ealing')]
Ealing_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
301,283569,Spacious luxury 2 bedroom apartment,1476754,Nina,Ealing,51.50707,-0.24764,Entire home/apt,92,5,17,2018-06-03,0.2,4,345
558,395062,garden studio Ealing sleep up to 4,1908992,Stefano & Maria,Ealing,51.52170,-0.32281,Entire home/apt,60,3,99,2020-02-18,1.12,3,93
593,407529,"Self contained studio, West London",958656,Karmen And Tomislav,Ealing,51.54815,-0.36331,Entire home/apt,50,1,185,2019-12-06,1.85,1,245
967,533972,Victorian Railway Cottage in zone 2,2624990,Paul,Ealing,51.53118,-0.24963,Entire home/apt,300,2,0,None,None,1,348
1242,611893,ZONE 2 FLAT w 3 BEDS & 2 BATH sleeps 7,2982363,Indi,Ealing,51.52215,-0.26011,Entire home/apt,150,3,232,2020-02-01,2.55,4,306
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83251,43540078,"Modern 2 Bed Flat in West Ealing, West London",325583325,Edwin,Ealing,51.51227,-0.32086,Entire home/apt,900,2,0,None,None,1,89
83390,43607781,Luxury two bedroom flat with sunny terrace,24947244,James,Ealing,51.50040,-0.27522,Entire home/apt,99,21,0,None,None,1,59
83490,43647987,Luxury Flat to live in the heart of London,340252917,Alex,Ealing,51.50780,-0.24607,Entire home/apt,50,1,0,None,None,3,288
83492,43648412,Luxury Flat to stay in the heart of London,340252917,Alex,Ealing,51.50768,-0.24645,Entire home/apt,50,1,0,None,None,3,342
83671,43728409,Modern apartment in west London - Zone 2,269308503,Michael,Ealing,51.50905,-0.25190,Entire home/apt,120,3,0,None,None,6,347

In [31]:
Enfield_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Enfield')]
Enfield_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1624,875754,"3 bed house, sleeps 6, N.London",2896963,Sid,Enfield,51.64240,-0.04009,Entire home/apt,109,4,26,2019-10-19,0.31,2,332
1647,891451,"Tranquil 1 bed garden flat, London",1271134,Sophia,Enfield,51.63691,-0.12047,Entire home/apt,100,7,3,2016-11-07,0.04,3,0
5234,4473571,2 bedroom house,23210611,Chris,Enfield,51.65774,-0.07381,Entire home/apt,95,3,5,2015-12-01,0.08,1,0
5472,4662824,North London Apartment - Edmonton,24127254,Brendan,Enfield,51.62922,-0.05985,Entire home/apt,65,1,30,2020-03-01,1.62,1,281
6065,5103290,The Small Arms Factory,11834380,Iveta,Enfield,51.66836,-0.01575,Entire home/apt,160,3,3,2016-11-22,0.07,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82358,43142682,ibis London Earls Court,343472364,Samuel,Enfield,51.61240,-0.06540,Entire home/apt,100,1,0,None,None,1,0
82407,43160279,Beautiful secluded 4 bed London House with Garden,343602060,Lana,Enfield,51.63660,-0.11356,Entire home/apt,66,14,0,None,None,1,133
83195,43508997,Free parking- London/Green Lane- 4BR Apartment-,308724471,Koyesul,Enfield,51.62534,-0.10016,Entire home/apt,325,1,0,None,None,10,345
83662,43722682,Lovely one bedroom flat,295958595,Terrence,Enfield,51.61308,-0.08215,Entire home/apt,70,1,0,None,None,1,345
83692,43737777,Amazing chic boutique hotel style home & luxury,301642567,Nic,Enfield,51.64828,-0.07655,Entire home/apt,200,3,0,None,None,2,345

In [32]:
Greenwich_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Greenwich')]
Greenwich_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
277,270549,Modern 2BR Apartment Greenwich 077,1409439,Steven,Greenwich,51.49630,0.01316,Entire home/apt,100,3,61,2020-03-10,0.65,33,322
627,419786,"Kitchener House, Historic grounds",2087745,Tony,Greenwich,51.47393,0.05775,Entire home/apt,250,14,0,None,None,2,345
760,461923,My London Holiday Home - Royal Arsenal Riverside,2117678,Dola,Greenwich,51.49187,0.07342,Entire home/apt,75,1,154,2020-04-09,1.61,2,326
816,478488,Modern 1-bed with stunning views across London,2370312,Daniel,Greenwich,51.48117,-0.01908,Entire home/apt,81,5,27,2018-12-27,0.28,1,0
1416,721267,Cosy Greenwich flat with relaxing woodland view,3723373,Rose,Greenwich,51.48330,0.00644,Entire home/apt,67,2,12,2019-03-17,0.56,1,73
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83010,43438750,2x Bedroom apartment - Sleeps 6x people,224930553,Richard,Greenwich,51.49417,0.07393,Entire home/apt,75,2,0,None,None,17,0
83019,43440726,"Spacious 1 bed, close to the o2 Arena and the ...",314143221,Fiona,Greenwich,51.49161,0.01270,Entire home/apt,80,2,1,2020-06-07,1,2,166
83047,43449752,"Spacious 1 bed, close to the o2 Arena and the ...",47092459,Fiona,Greenwich,51.49303,0.01261,Entire home/apt,80,2,0,None,None,2,166
83571,43683610,Exceptional 3 bedroom apartment In Greenwich,38815659,Saffron,Greenwich,51.47383,-0.00618,Entire home/apt,140,5,0,None,None,1,349
83707,43748104,Sophisticated 3 Bed Apartment Next To River Th...,175128252,Gospodin,Greenwich,51.48324,-0.01782,Entire home/apt,1880,1,0,None,None,30,347

In [33]:
Hackney_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Hackney')]
Hackney_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
9,36986,Gorgeous Victorian Flat Overlooking London Fields,159556,Michael,Hackney,51.53972,-0.05885,Entire home/apt,80,6,52,2019-03-30,0.44,1,71
63,70482,Fabulous Hackney flat Victoria Park London fi...,357352,Michael,Hackney,51.54049,-0.04916,Entire home/apt,95,5,0,None,None,1,294
126,102391,Hackney Central - East London Charming House f...,535247,Angus Brown And Nelly,Hackney,51.54647,-0.05664,Entire home/apt,140,1,27,2018-11-04,0.25,3,162
136,109299,Trendy Dalston 2BR/2BA En-Suite/Balcony/Gym/Train,261091,Nina,Hackney,51.54599,-0.07426,Entire home/apt,135,14,3,2011-11-22,0.03,3,346
150,142117,"Stylish & Bright, 1 Bed, Shoreditch",192627,Clare,Hackney,51.52902,-0.08944,Entire home/apt,140,3,84,2020-02-16,0.77,1,346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83271,43551951,Charming 1 Bed Flat in Stunning Converted Vica...,125539595,Anna,Hackney,51.53991,-0.05929,Entire home/apt,100,2,0,None,None,1,21
83302,43561726,"Beautiful, bright warehouse flat, London fields",2064825,Hedydd,Hackney,51.54463,-0.05935,Entire home/apt,80,3,0,None,None,1,10
83325,43572467,Chique Scandic Gem Of London,152788806,Pass The Property,Hackney,51.53247,-0.07183,Entire home/apt,90,2,0,None,None,1,71
83340,43579870,Sunny Flat with private balcony in Shoreditch,19532465,Fernanda,Hackney,51.53402,-0.06429,Entire home/apt,120,3,0,None,None,1,28
83669,43727114,Huge TOP FLOOR stylish flat in Shoreditch,35219119,Youcef,Hackney,51.52821,-0.08023,Entire home/apt,120,8,0,None,None,1,55

In [98]:
Hammersmith_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Hammersmith and Fulham')]
Hammersmith_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
14,38610,CHARMING FAMILY HOME SLEEPS 10,165579,Elisa & Dom,Hammersmith and Fulham,51.50819,-0.23284,Entire home/apt,296,5,35,2020-02-28,0.37,2,58
37,47687,Cosy Double studio in Zone 2 Hammersmith (6),216660,Boris,Hammersmith and Fulham,51.49506,-0.22750,Entire home/apt,78,2,66,2020-05-31,0.56,11,347
46,56229,Cosy Double studio in Zone 2 Hammersmith (1),216660,Boris,Hammersmith and Fulham,51.49355,-0.22864,Entire home/apt,78,1,38,2016-07-25,0.32,11,347
54,63948,Cosy Double studio in Zone 2 Hammersmith (4),216660,Boris,Hammersmith and Fulham,51.49402,-0.22724,Entire home/apt,57,3,23,2017-03-30,0.22,11,347
68,73884,Cosy Double studio in Zone 2 Hammersmith (2),216660,Boris,Hammersmith and Fulham,51.49384,-0.22789,Entire home/apt,99,1,66,2020-04-05,0.58,11,166
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83523,43660279,Convenient Shepherds Bush flat with outdoor deck,3560739,Maurice,Hammersmith and Fulham,51.50481,-0.23137,Entire home/apt,75,4,0,None,None,1,33
83529,43664044,Spacious Garden Flat (West Kensington Aparthotel),348705633,Amy,Hammersmith and Fulham,51.49307,-0.20980,Entire home/apt,107,1,0,None,None,1,286
83581,43685883,2 bedroom spacious flat with roof terrace Fulham,18729829,Louise,Hammersmith and Fulham,51.47268,-0.21082,Entire home/apt,100,2,0,None,None,2,347
83635,43717652,London Hammersmith Apartment - Opp Tube Station,93759318,George,Hammersmith and Fulham,51.49130,-0.20751,Entire home/apt,175,2,0,None,None,11,344
83643,43719998,Stunning modern Chelsea Waterfront apartment,200784731,Nez,Hammersmith and Fulham,51.47227,-0.18494,Entire home/apt,186,5,0,None,None,1,74

In [35]:
Harigney_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Haringey')]
Harigney_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
119,98541,Gorgeous Victorian Flat LONDON,519891,Alicja,Haringey,51.57419,-0.13958,Entire home/apt,88,8,34,2019-12-16,0.35,1,348
156,152863,Spacious London garden apartment,735248,Jamie,Haringey,51.58462,-0.14677,Entire home/apt,99,4,6,2018-08-27,0.06,1,0
323,299735,Great Value Flat Nr Central London,1544432,Saiful,Haringey,51.58548,-0.07469,Entire home/apt,99,2,96,2018-12-29,0.97,1,166
325,300723,Stylish 3 Bed 2 Bath Apartment +Gdn,1549137,Rita,Haringey,51.58350,-0.11739,Entire home/apt,190,2,57,2019-10-28,0.56,1,346
328,302527,Quiet and cozy garden flat London,1557801,Lucy,Haringey,51.60155,-0.11032,Entire home/apt,125,2,1,2016-06-19,0.02,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83392,43611209,Split-level sunny loft with balcony,63634696,Theodoros,Haringey,51.59226,-0.10670,Entire home/apt,150,2,0,None,None,1,46
83533,43666600,Manor House Studio Apartment A,3109728,Bart,Haringey,51.57603,-0.09294,Entire home/apt,105,2,0,None,None,8,346
83535,43666602,Manor House Studio Apartment C,3109728,Bart,Haringey,51.57523,-0.09305,Entire home/apt,105,2,0,None,None,8,348
83536,43666604,Manor House Studio Apartment B,3109728,Bart,Haringey,51.57653,-0.09455,Entire home/apt,105,2,0,None,None,8,348
83617,43707938,"Arty, Plant-filled flat in quaint, boutique area",346225555,Ellie,Haringey,51.58412,-0.11853,Entire home/apt,110,1,0,None,None,1,89

In [36]:
Harrow_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Harrow')]
Harrow_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
305,286675,APARTMENT IN NORTH WEST LONDON,1491611,Nora,Harrow,51.58202,-0.37680,Entire home/apt,50,3,91,2019-12-03,0.97,1,0
1688,925550,Beautiful Non Smoking London Home,4979028,Isabella,Harrow,51.60404,-0.33665,Entire home/apt,115,1,11,2020-02-19,0.13,1,167
1846,1058485,"3bed flat in Harrow, easy access to central Lo...",5827642,Abdul,Harrow,51.56453,-0.35409,Entire home/apt,360,5,9,2018-10-15,0.23,3,0
1976,1188639,Lovely cosy flat in Harrow on the Hill,5849721,Egiarte,Harrow,51.57963,-0.33868,Entire home/apt,77,3,33,2019-09-01,0.4,1,317
5327,4556853,London - 12 min from Euston,2296966,Shaham,Harrow,51.59838,-0.35434,Entire home/apt,220,2,0,None,None,1,345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82905,43412827,Luxurious 3 Person Modern Private Studio flat,314497580,Suraj,Harrow,51.59331,-0.30351,Entire home/apt,79,1,0,None,None,2,345
82934,43419639,Chic Apartment in North London near Royal Air ...,305870687,Julia BELVILLA,Harrow,51.61107,-0.28071,Entire home/apt,239,1,0,None,None,13,348
82939,43419707,Lovely Apartment in Harrow near Northala Fields,305870687,Julia BELVILLA,Harrow,51.58104,-0.33289,Entire home/apt,109,1,0,None,None,13,348
82941,43419719,Modern Apartment in Harrow with Balcony,305870687,Julia BELVILLA,Harrow,51.58102,-0.33114,Entire home/apt,145,1,0,None,None,13,345
83148,43490424,Cream 3 Bedroom @ Pinner Hill Pinner - HA5 3SD,189947197,David,Harrow,51.59955,-0.39390,Entire home/apt,160,5,0,None,None,2,348

In [37]:
Hillingdon_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Hillingdon')]
Hillingdon_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1330,670667,Open Plan 1 Bedroom nr Heathrow.,3398477,Dr. P.Sanehi,Hillingdon,51.48074,-0.42043,Entire home/apt,75,14,93,2017-03-17,1.3,3,348
1401,713777,A stone throw away - Heathrow Homes,1419096,Claudia,Hillingdon,51.53161,-0.40173,Entire home/apt,100,3,0,None,None,4,348
2163,1335072,2 Bedroom Garden Apartment Heathrow,7091589,Simon,Hillingdon,51.48774,-0.43300,Entire home/apt,95,1,80,2016-04-11,0.95,1,348
4844,4111860,"Stunning 5 bedroom house, near Heathrow airport",19826493,Abigeal,Hillingdon,51.52446,-0.47962,Entire home/apt,175,5,6,2015-09-07,0.1,35,348
7147,6116453,Duplex Penthouse panoramic views,31607089,Faroch,Hillingdon,51.57023,-0.42166,Entire home/apt,250,5,2,2015-07-13,0.03,1,336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83099,43468041,Cosy Studio Uxbridge close to Heathrow,34768153,Saminda,Hillingdon,51.54712,-0.44512,Entire home/apt,55,5,0,None,None,1,73
83186,43504953,4 bedroom 3-bathroom house-Heathrow-London-par...,133419327,Shay,Hillingdon,51.52251,-0.38895,Entire home/apt,140,3,0,None,None,6,0
83327,43573653,Studio apartment,258739164,Gurvinder,Hillingdon,51.50994,-0.47031,Entire home/apt,50,1,0,None,None,2,348
83329,43574405,New One Bedroom Flat to rent in Ruislip,340626458,Yusif,Hillingdon,51.57081,-0.41271,Entire home/apt,50,7,0,None,None,2,348
83543,43673765,2 Bed Apartment - walk to the tube station!,35796216,Tempstay,Hillingdon,51.54788,-0.48021,Entire home/apt,150,2,0,None,None,1,348

In [38]:
Hounslow_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Hounslow')]
Hounslow_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
101,89787,1 bed apt 30 mins from Windsor castle,488175,Dominic,Hounslow,51.44749,-0.43186,Entire home/apt,55,2,2,2016-09-23,0.04,1,0
292,277580,2 Bedroom Cottage (E) London,381894,Eddy,Hounslow,51.49281,-0.30921,Entire home/apt,125,3,7,2020-02-23,0.07,36,348
404,342804,Chiswick: Luxury 2 bed maisonette,1631033,Sandra,Hounslow,51.48945,-0.27208,Entire home/apt,160,5,71,2019-10-27,0.9,2,283
468,378551,Double bedroom mezzanine apartment,1901556,Marianne,Hounslow,51.48364,-0.26736,Entire home/apt,110,3,50,2020-03-03,0.54,1,165
904,515327,Comfy 2 Double Bed Garden Flat near the Thames,2538088,Tabitha,Hounslow,51.48106,-0.25897,Entire home/apt,23,5,10,2018-01-19,0.1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82992,43433137,"Cute&comfy 1 bed flat, free from 19 May by tub...",346190427,Peter,Hounslow,51.49593,-0.25468,Entire home/apt,49,7,0,None,None,3,162
82993,43433328,"Easy nice 1 bed flat ground floor, free 16 May W4",346190427,Peter,Hounslow,51.49260,-0.25571,Entire home/apt,53,7,0,None,None,3,162
82994,43433564,"Lovely loft flat, full bath, kitchen, Chiswick W4",346190427,Peter,Hounslow,51.49606,-0.25437,Entire home/apt,59,7,0,None,None,3,162
83172,43502268,Luxury two bedroom two bathroom entire flat,111420740,Lina,Hounslow,51.48984,-0.28803,Entire home/apt,160,4,0,None,None,1,348
83696,43739441,Cosy modern house near river. Chiswick,117250651,Ozana,Hounslow,51.47885,-0.26179,Entire home/apt,290,1,0,None,None,1,72

In [39]:
Islington_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Islington')]
Islington_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
80,81052,Bright spacious 2 bed in Islington,438948,Aslak,Islington,51.53924,-0.10209,Entire home/apt,133,6,10,2018-04-06,0.12,1,0
102,89870,London Holiday Flat Let-Islington,54730,Alina,Islington,51.56822,-0.11266,Entire home/apt,139,1,86,2019-10-24,0.8,3,347
123,99333,Roof Garden Oasis 10 Minutes From Kings Cross,523246,Francesca,Islington,51.54680,-0.10667,Entire home/apt,118,4,73,2020-03-10,1.44,2,68
131,107048,A Luxury Studio Suite in Clerkenwell,259088,Simon,Islington,51.52407,-0.10554,Entire home/apt,93,4,473,2020-03-07,4.29,5,133
135,109226,Lovely two bedroom Islington home.,564310,James,Islington,51.54089,-0.08900,Entire home/apt,250,10,5,2014-12-08,0.06,1,346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83472,43636079,Quiet Cosy Studio in the heart of East London,86604811,May,Islington,51.54767,-0.07986,Entire home/apt,79,2,0,None,None,1,345
83542,43673188,ANGEL APARTMENT great location,5375403,Antonio & Andrea,Islington,51.53248,-0.11205,Entire home/apt,71,1,0,None,None,10,255
83550,43675400,Cosy 1-bedroom garden flat for 4 in Islington,348806696,Sarah,Islington,51.54282,-0.11944,Entire home/apt,130,2,0,None,None,1,163
83632,43713251,Prime Islington Townhouse with secluded garden,349200064,Edward,Islington,51.53331,-0.10212,Entire home/apt,275,5,0,None,None,1,84
83699,43742984,15% off - Luxurious 2 BR Apartment\nHolloway,308724471,Koyesul,Islington,51.55537,-0.11360,Entire home/apt,275,2,0,None,None,10,345

In [41]:
Kensington_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Kensington and Chelsea')]
Kensington_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
2,15400,Bright Chelsea Apartment. Chelsea!,60302,Philippa,Kensington and Chelsea,51.48796,-0.16898,Entire home/apt,100,10,89,2020-03-16,0.7,1,288
35,46961,ONE BEDROOM IN NEW DEVELOPMENT,194769,S,Kensington and Chelsea,51.48055,-0.18238,Entire home/apt,150,6,0,None,None,4,346
76,79571,Chelsea Studio by Kings Road London,428600,Nicholas,Kensington and Chelsea,51.49170,-0.16183,Entire home/apt,85,2,13,2017-07-03,0.12,1,0
163,165336,Charming Flat in Notting Hill,761400,Nathan,Kensington and Chelsea,51.51895,-0.21202,Entire home/apt,75,2,171,2020-03-09,1.62,1,0
173,174635,1 bedroom in Vibrant Notting Hill,675616,Eric,Kensington and Chelsea,51.51762,-0.21359,Entire home/apt,120,2,51,2019-05-10,0.48,2,287
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83656,43721253,Amazing 2bed/2bath top floor with rooftop terrace,348556006,Canguro Properties,Kensington and Chelsea,51.49139,-0.19904,Entire home/apt,184,1,0,None,None,10,330
83657,43721257,Brand new luxury 2 bedroom in Kensington,348556006,Canguro Properties,Kensington and Chelsea,51.50044,-0.18511,Entire home/apt,243,1,0,None,None,10,332
83673,43732025,Kensington Hideaway,2157755,Lime Street,Kensington and Chelsea,51.49383,-0.19869,Entire home/apt,789,2,0,None,None,44,61
83676,43733142,3 Bedroom Flat @ Portobello Market-Ladbroke Grove,38477447,Umberto,Kensington and Chelsea,51.51646,-0.20916,Entire home/apt,54,14,0,None,None,3,72
83687,43736352,"Modern Kensington Chelsea Flat, 1 Min to Tube",349458512,Hannah,Kensington and Chelsea,51.49151,-0.19755,Entire home/apt,100,14,0,None,None,1,210

In [42]:
Kingston_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Kingston upon Thames')]
Kingston_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
463,375799,Luxury apartment : London/Wimbledon,1889832,Glynis,Kingston upon Thames,51.40296,-0.25044,Entire home/apt,80,7,55,2019-10-17,0.56,2,323
1479,754867,Luxury Flat in Stratton Court in Surbiton for 4/6,1794020,Martin,Kingston upon Thames,51.39640,-0.30141,Entire home/apt,143,3,48,2019-12-10,0.55,2,214
2639,1836056,Luxury Kingston on Thames Flat in Viceroy Lodg...,1794020,Martin,Kingston upon Thames,51.39650,-0.30517,Entire home/apt,143,3,51,2020-01-13,0.68,2,214
2851,2027129,Cosy and bright Victorian cottage,10412680,Lorraine,Kingston upon Thames,51.41407,-0.29790,Entire home/apt,88,2,28,2017-11-16,0.36,1,0
3682,3074800,Victorian semi-detached family home,15573617,Mark,Kingston upon Thames,51.40856,-0.29072,Entire home/apt,150,2,11,2016-11-21,0.19,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81010,42837052,Cosy Apartment at River Thames,304909746,Nata,Kingston upon Thames,51.40084,-0.30620,Entire home/apt,70,5,0,None,None,1,163
81455,42934844,Large Victorian attick flat central to Surbiton,88269261,Ananda,Kingston upon Thames,51.39415,-0.29530,Entire home/apt,49,1,0,None,None,1,43
81703,42982046,Beautiful 3 Bedroom House in Chessington Surrey,189787355,Asmeret,Kingston upon Thames,51.36026,-0.28795,Entire home/apt,150,1,1,2020-05-31,1,2,348
83389,43607740,Self contained loft apartment central Kingston,89978417,Claire,Kingston upon Thames,51.41335,-0.29043,Entire home/apt,110,1,0,None,None,1,73
83505,43652409,Unique detached 1 bedroom flat,287421822,Robert,Kingston upon Thames,51.39830,-0.30257,Entire home/apt,80,3,0,None,None,2,348

In [43]:
Lambeth_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Lambeth')]
Lambeth_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
0,11551,Arty and Bright London Apartment in Zone 2,43039,Adriano,Lambeth,51.46225,-0.11732,Entire home/apt,88,2,192,2020-03-26,1.54,2,347
42,53245,Beautiful Victorian apartment in Stockwell,247650,Louise,Lambeth,51.47246,-0.12727,Entire home/apt,65,14,6,2016-08-09,0.08,2,333
67,73431,Two bedroom luxury Flat in Brixton with city v...,383525,Emi,Lambeth,51.46295,-0.11200,Entire home/apt,52,3,64,2020-02-29,0.77,1,17
78,80441,5min from the Big Ben,416812,Esther,Lambeth,51.49494,-0.12004,Entire home/apt,95,20,90,2020-03-15,0.81,1,59
145,131444,1 bedroom apartment close to centre,646165,Yevgeniy,Lambeth,51.48974,-0.11116,Entire home/apt,90,2,122,2020-01-28,1.14,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83649,43721226,"One bed, The flat designed for modern living",264864968,Tricia,Lambeth,51.48982,-0.12283,Entire home/apt,135,28,0,None,None,3,347
83701,43744404,"Two bedrooms, The flat designed for modern living",296088521,Chad,Lambeth,51.48977,-0.12282,Entire home/apt,155,28,0,None,None,3,347
83702,43744476,"One bedroom, The flat designed for modern living",296088521,Chad,Lambeth,51.49071,-0.12198,Entire home/apt,135,28,0,None,None,3,347
83703,43744938,"Two bedrooms, The flat designed for modern living",159681846,Michael,Lambeth,51.48998,-0.12159,Entire home/apt,155,28,0,None,None,3,347
83704,43745001,"One bedroom, The flat designed for modern living",159681846,Michael,Lambeth,51.48998,-0.12308,Entire home/apt,135,28,0,None,None,3,347

In [44]:
Lewisham_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Lewisham')]
Lewisham_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
161,158939,Charming Garden Apartment | London,762736,Lydia,Lewisham,51.47013,-0.04266,Entire home/apt,110,2,85,2020-01-21,0.8,3,0
263,264776,Huge Four Bedroom Apartment,1389063,Sue,Lewisham,51.44251,-0.01989,Entire home/apt,200,3,31,2020-02-21,0.43,12,301
264,264777,One Bedroom Apartment,1389063,Sue,Lewisham,51.44293,-0.02010,Entire home/apt,85,3,2,2017-10-02,0.04,12,345
265,264778,Two Bedroom Newly Refurbished Apartment,1389063,Sue,Lewisham,51.44368,-0.02195,Entire home/apt,120,3,22,2019-11-01,0.29,12,326
266,264779,Refurbished Two Bedroom Apartment,1389063,Sue,Lewisham,51.44177,-0.02204,Entire home/apt,125,4,15,2019-09-23,0.25,12,343
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83463,43635719,Astonishing Studio Near Luxmore Gardens,226804666,Miroslav,Lewisham,51.47534,-0.03264,Entire home/apt,1880,3,0,None,None,21,348
83464,43635734,Astonishing Studio Near Luxmore Gardens,226804666,Miroslav,Lewisham,51.47675,-0.03307,Entire home/apt,1880,3,0,None,None,21,345
83520,43659729,Charming and Spacious Studio with Parking & Ga...,348396746,Elizabeth,Lewisham,51.44927,-0.03376,Entire home/apt,100,2,0,None,None,1,164
83549,43675348,"Apartment opposite Deptford Park, London",119548520,Nick,Lewisham,51.48519,-0.03590,Entire home/apt,99,3,0,None,None,1,51
83697,43739993,* Perfect 4 Bed Property in heart of Forest Hi...,3411469,Darcy,Lewisham,51.44009,-0.05758,Entire home/apt,160,1,0,None,None,1,348

In [45]:
Merton_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Merton')]
Merton_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
92,85111,3 bedroom house in Wimbledon with parking,465847,Isabelle,Merton,51.41944,-0.20749,Entire home/apt,120,30,48,2019-09-06,1.55,1,0
108,93263,2 Bed 2 Bath Wimbledon Apartment,500558,William,Merton,51.41562,-0.19489,Entire home/apt,75,5,25,2019-11-08,0.26,5,305
151,143028,Entire London Town House Next 2 Tube & Wimbledon,694198,Yasmin,Merton,51.40269,-0.19177,Entire home/apt,135,1,4,2020-01-01,0.11,2,0
285,274918,"Large 1 Bed apartment (A), wi-fi, sleeps 4",381894,Eddy,Merton,51.42280,-0.17757,Entire home/apt,90,5,15,2020-02-02,0.15,36,348
287,275142,"2 bed apartment, sleeps 6, London",381894,Eddy,Merton,51.42169,-0.17626,Entire home/apt,100,3,0,None,None,36,345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81946,43039601,Thirsk Road Studios by Allô Housing,988379,Allô,Merton,51.41687,-0.15891,Entire home/apt,65,2,0,None,None,104,284
82328,43130360,Lovely 1 Bed near British Museum,296027611,Gdhd,Merton,51.42086,-0.19789,Entire home/apt,64,1,0,None,None,1,345
82356,43140069,1 bedroom flat with 4 sleeping facilities,343440476,Amelie,Merton,51.41532,-0.14855,Entire home/apt,69,7,0,None,None,1,0
82892,43409282,Independent annex with parking,27030143,James,Merton,51.43976,-0.19346,Entire home/apt,48,2,0,None,None,2,73
83230,43526077,Lovely apartment with backyard 5min from tube,71777877,Giusy,Merton,51.41608,-0.18743,Entire home/apt,120,3,0,None,None,1,46

In [46]:
Newham_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Newham')]
Newham_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
152,143568,This one's got a gym and sauna!,598337,Dejan,Newham,51.53058,-0.01203,Entire home/apt,65,5,45,2020-02-28,0.43,3,0
262,263822,2 Bedroom London East End Apartment,1384320,Steven,Newham,51.51854,0.02291,Entire home/apt,80,3,28,2020-04-20,0.27,1,333
311,290233,Executive House for Olypmic 2012,1506151,Portia,Newham,51.53625,0.00480,Entire home/apt,572,14,0,None,None,1,347
395,335867,2 Bed appt overlooking olympic park,1706248,Richard,Newham,51.53258,-0.01141,Entire home/apt,200,21,0,None,None,1,0
405,343701,"Bright, Cosy Flat",875652,Kadija,Newham,51.52864,0.00945,Entire home/apt,50,1,1,2020-03-01,0.28,1,68
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83347,43584405,London ExCeL One bed apartment,263938818,Capital Stay,Newham,51.50922,0.02114,Entire home/apt,150,3,0,None,None,5,252
83443,43629596,Spacious work friendly grd flr 2bed in Stratford,280607761,John,Newham,51.54572,0.00092,Entire home/apt,185,2,0,None,None,3,295
83455,43635526,Modern Apt near Excel/Canar Wharf,347426273,Shereen,Newham,51.49926,0.02853,Entire home/apt,100,2,0,None,None,1,289
83519,43659574,1 Bed Flat Stratford Prime location,98724400,Khurram,Newham,51.53138,-0.00799,Entire home/apt,120,1,0,None,None,2,162
83521,43659732,Studio Flat in Manor Park,98724400,Khurram,Newham,51.54825,0.04383,Entire home/apt,69,1,0,None,None,2,160

In [47]:
Redbridge_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Redbridge')]
Redbridge_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
450,367175,"2 bed flat, 15 mins to Stratford",1853739,Andres,Redbridge,51.58467,0.02784,Entire home/apt,75,7,10,2019-06-10,0.1,1,0
667,432567,Lovely apartment sleeps 2 to 4,2134315,Kalpna,Redbridge,51.56434,0.02424,Entire home/apt,62,3,67,2016-04-30,0.7,1,0
670,433191,Quiet and well decorated one bedroomed garden ...,2152796,Anthony,Redbridge,51.60547,0.05412,Entire home/apt,55,1,1,2019-06-30,0.08,1,73
767,463665,London 2 bedroom apartment,656176,Paul,Redbridge,51.59665,0.02235,Entire home/apt,150,7,0,None,None,1,348
908,517283,"3 bedroom, 3 bathroom house London",2546459,Susan,Redbridge,51.57527,0.03113,Entire home/apt,190,3,168,2020-01-27,1.77,1,14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82810,43381285,Quiet and modern deep cleaned flat,342349515,Parth,Redbridge,51.56294,0.11258,Entire home/apt,200,1,1,2020-05-27,1,2,0
83097,43467337,Brand new - 3 bed house for country weekends!,230530716,Scott,Redbridge,51.61041,0.14364,Entire home/apt,60,2,0,None,None,1,348
83174,43502952,Modern one bedroom apartment just for you!,346971852,Andreea,Redbridge,51.56358,0.11077,Entire home/apt,70,3,0,None,None,1,70
83689,43737036,All furniture is very good. Must Vew.,296962976,Ali,Redbridge,51.56703,0.08497,Entire home/apt,800,30,0,None,None,2,345
83698,43740235,Stunning 5 bed Home in Ilford,7466577,Agnieszka,Redbridge,51.55308,0.08656,Entire home/apt,89,2,0,None,None,7,70

In [48]:
Richmond_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Richmond upon Thames')]
Richmond_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
7,36299,Kew Gardens 3BR house in cul-de-sac,155938,Geert,Richmond upon Thames,51.47934,-0.28066,Entire home/apt,195,3,77,2019-10-30,0.66,1,334
278,270600,Patio Apartment in London (Twickenham),1416605,Emma,Richmond upon Thames,51.44267,-0.33194,Entire home/apt,65,4,47,2020-04-20,0.56,1,248
474,380188,2 Bedroom Garden Flat near Richmond,1908027,Louisa,Richmond upon Thames,51.45954,-0.32340,Entire home/apt,135,2,105,2020-03-08,1.06,1,291
980,537828,River View Flat with Free Parking & Great Loca...,2642640,Tally,Richmond upon Thames,51.46904,-0.26390,Entire home/apt,99,7,0,None,None,1,0
1307,648921,Lovely studio apartment in London,3140588,Vanessa,Richmond upon Thames,51.46141,-0.32634,Entire home/apt,75,30,48,2020-04-05,0.51,1,344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83200,43511494,Beautiful Apartment in Leafy Putney - London,5041895,Steve,Richmond upon Thames,51.46635,-0.23652,Entire home/apt,85,30,0,None,None,1,284
83317,43567555,Beautiful Victorian family home in Twickenham,124211684,Isobel,Richmond upon Thames,51.45330,-0.33254,Entire home/apt,275,7,0,None,None,1,59
83440,43625434,Large duplex apartment in Richmond & Kew London,24754200,Nicola,Richmond upon Thames,51.46596,-0.29878,Entire home/apt,250,10,0,None,None,3,250
83596,43695738,30 Seconds From The River Thames with parking,280864241,Joshua,Richmond upon Thames,51.40403,-0.34511,Entire home/apt,125,3,0,None,None,1,57
83661,43721808,"Large 5 Double Bedroom House in East Sheen, SW14",12893058,Lisa,Richmond upon Thames,51.46397,-0.25947,Entire home/apt,271,14,0,None,None,1,70

In [49]:
Southwark_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Southwark')]
Southwark_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
56,65638,Gorgeous London garden apartment,320901,Mike,Southwark,51.48624,-0.09624,Entire home/apt,85,6,184,2020-01-03,1.69,2,239
166,168359,Stunning 2 Bed Apartment in Elephant & Castle,648725,Michele,Southwark,51.49185,-0.08823,Entire home/apt,111,2,10,2019-03-19,0.09,1,0
296,280894,"1 double-bed modern bright flat, SE1 (Borough ...",1464452,Maria And Rino,Southwark,51.49929,-0.08871,Entire home/apt,115,7,23,2019-05-30,0.31,2,43
308,288857,"London Bridge, Zipstays, Dbl/Twin beds",1500877,John,Southwark,51.50414,-0.08274,Entire home/apt,200,3,18,2020-01-05,0.18,2,162
336,305573,"Central London Hideaway in the trees, SE1",281951,Ed,Southwark,51.49748,-0.09651,Entire home/apt,70,15,14,2015-09-09,0.14,1,204
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83368,43599606,2-bed 2-bath flat near Parliament with parking,273963876,Maria,Southwark,51.50418,-0.10266,Entire home/apt,140,7,0,None,None,42,59
83456,43635563,Bright Skyline Rooftop Nest,1432477,City Relay,Southwark,51.50418,-0.08941,Entire home/apt,139,3,0,None,None,192,346
83473,43636534,Amazing 1 Bed Flat near Waterloo,291339461,Buki,Southwark,51.48951,-0.10022,Entire home/apt,900,2,0,None,None,2,48
83516,43659170,New 2 Bed Duplex Flat In Trendy London Bridge,119463580,Jean Côme,Southwark,51.49541,-0.07803,Entire home/apt,125,7,0,None,None,63,346
83599,43697544,Beautiful 2 bed Victorian 1st Floor Flat,3451742,Gabriella,Southwark,51.47047,-0.08730,Entire home/apt,85,2,0,None,None,1,18

In [50]:
Sutton_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Sutton')]
Sutton_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1841,1051861,Entire home Wallington,5740164,James,Sutton,51.34988,-0.14807,Entire home/apt,140,7,0,None,None,1,0
2166,1336578,Badgers Mount ..home near London,7247970,Laura,Sutton,51.35368,-0.17553,Entire home/apt,220,7,15,2019-08-15,0.22,2,341
4260,3582451,Spacious house near Wimbledon,18045377,Simeon,Sutton,51.38267,-0.19547,Entire home/apt,95,1,0,None,None,1,0
8065,6758044,Nouvelle House,9063235,Executive Roomspace,Sutton,51.36105,-0.18953,Entire home/apt,120,3,1,2016-11-11,0.02,15,0
9339,7511586,Modern house in Cheam Village,12839528,Valter,Sutton,51.36503,-0.20972,Entire home/apt,140,3,0,None,None,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
80269,42655631,Lovely eco home London/Surrey border,13066912,Collette,Sutton,51.38264,-0.15516,Entire home/apt,80,1,0,None,None,2,21
81348,42910134,"Large family home, close to Wimbledon & London.",92426545,Hannah,Sutton,51.37482,-0.23106,Entire home/apt,220,5,0,None,None,3,0
82408,43160823,Normanhurst Studio in a period Victoria House,120179941,Gill,Sutton,51.36165,-0.15359,Entire home/apt,65,3,0,None,None,1,0
82606,43256219,Charming house with a garden and parking,38061837,Julia,Sutton,51.36855,-0.18404,Entire home/apt,120,2,0,None,None,1,0
83312,43564804,Spacious modern one bedroom flat with balcony,13292983,Toni,Sutton,51.35402,-0.14859,Entire home/apt,90,1,1,2020-06-07,1,1,160

In [51]:
Towers_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Tower Hamlets')]
Towers_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
12,38407,Canary Wharf Apt sleeps 2 short walk to tube,164566,John,Tower Hamlets,51.49995,-0.02624,Entire home/apt,65,2,137,2017-04-21,1.16,1,161
53,63864,FASCINATING ONE BEDROOM APT IN CANARY WHARF,54987,Prateek,Tower Hamlets,51.49946,-0.01934,Entire home/apt,135,4,11,2019-09-10,0.13,45,347
84,81449,Stylish Central London Flat with pool and terrace,441736,Kris,Tower Hamlets,51.51061,-0.06646,Entire home/apt,140,1,187,2020-03-09,1.68,2,106
110,94138,Lovely east London ground floor apartment,503548,Carl And Christie,Tower Hamlets,51.52807,-0.05133,Entire home/apt,70,2,42,2020-03-05,1.61,1,0
421,348549,Unwind on a Roof Terrace near Columbia Road Ma...,1764754,Tom,Tower Hamlets,51.52804,-0.06444,Entire home/apt,135,3,56,2020-03-20,0.57,1,150
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83672,43730403,"One bedroom in LD dock, 2 min to tower bridge",159681846,Michael,Tower Hamlets,51.50881,-0.06726,Entire home/apt,120,28,0,None,None,3,344
83675,43732532,Comfortable 2BR Flat in St. Katharine’s Docks,95003434,Ashish,Tower Hamlets,51.50618,-0.06873,Entire home/apt,140,3,0,None,None,1,344
83680,43734653,2 Beds/2 Bath flat in Central London with car ...,68041972,Maxime,Tower Hamlets,51.51638,-0.06750,Entire home/apt,130,1,0,None,None,1,134
83700,43744350,"One bedroom in LD dock, 2 min to tower bridge",296088521,Chad,Tower Hamlets,51.50904,-0.06723,Entire home/apt,120,28,0,None,None,3,346
83710,43751716,Double room with separate kitchen and bathroom,149258135,Ilona,Tower Hamlets,51.51105,-0.01837,Entire home/apt,55,29,0,None,None,2,60

In [52]:
Waltham_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Waltham Forest')]
Waltham_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
335,304976,Large House with 5 Double Bedrooms,1569324,Paul,Waltham Forest,51.55539,-0.00191,Entire home/apt,200,5,122,2020-03-18,1.23,1,335
690,440874,"London ""Victorian cottage"" flat - near Tube & STN",524036,Laura,Waltham Forest,51.58324,-0.04124,Entire home/apt,55,5,42,2019-08-08,0.44,1,0
704,444981,Studio 20min Walk from Olympic City,2123366,Chris,Waltham Forest,51.56535,0.00819,Entire home/apt,178,7,0,None,None,1,0
845,493965,Modern 3 Bd Hse E4 close to city,2240892,Debbie,Waltham Forest,51.60589,-0.00256,Entire home/apt,95,3,10,2017-04-12,0.12,4,0
940,526025,Homely East London Accomodation,2585853,Imtiaz,Waltham Forest,51.59022,-0.03572,Entire home/apt,75,2,0,None,None,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82551,43227249,Whole flat for summer rent in Walthamstow,26282477,Isobel,Waltham Forest,51.59138,-0.02225,Entire home/apt,60,14,0,None,None,2,103
82995,43436836,The Doge,56279305,Femi,Waltham Forest,51.60037,-0.02611,Entire home/apt,65,3,0,None,None,2,55
83487,43646019,Luminous & Spacious 1-BR flat in East London,2711832,Miriam,Waltham Forest,51.57921,-0.03304,Entire home/apt,70,2,0,None,None,1,95
83518,43659491,Artist Studio Creative retreat,152726753,Alessio,Waltham Forest,51.57027,-0.04028,Entire home/apt,80,14,0,None,None,1,347
83556,43678945,The Poppleton place,70201621,Amin,Waltham Forest,51.57183,0.01002,Entire home/apt,90,1,0,None,None,1,148

In [53]:
Wandsworth_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Wandsworth')]
Wandsworth_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
77,80123,Pretty Self Contained Coach House,432648,Melanie,Wandsworth,51.45330,-0.15646,Entire home/apt,95,2,134,2020-03-16,1.22,1,0
361,315238,Stylish 2 bedroom London flat,1619024,Sally,Wandsworth,51.47776,-0.14939,Entire home/apt,160,2,49,2020-02-16,0.55,2,347
383,327743,Great 1 bed flat for the Olympics,1675125,Jo,Wandsworth,51.46120,-0.17298,Entire home/apt,150,6,0,None,None,1,0
459,374594,Sunny Victorian Flat in London,1749231,Lizzy,Wandsworth,51.42259,-0.16387,Entire home/apt,150,7,10,2017-10-04,0.12,1,0
467,378407,Lovely Garden Flat for 2 + baby,1900844,Pippa,Wandsworth,51.42525,-0.16636,Entire home/apt,120,7,0,None,None,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83614,43706613,Spacious riverside apartment with private balcony,31497905,Angus,Wandsworth,51.46545,-0.21356,Entire home/apt,200,14,0,None,None,2,345
83642,43719884,2 Bedroom Apartment 1 minute walk to US Embassy,106879693,John,Wandsworth,51.48118,-0.13354,Entire home/apt,190,1,0,None,None,1,70
83681,43734713,Spacious riverside apartment with balcony,31497905,Angus,Wandsworth,51.46598,-0.21355,Entire home/apt,150,14,0,None,None,2,348
83684,43735100,Knightsbridge Chelsea Boutique Riverside Apart...,47362142,Roman,Wandsworth,51.48358,-0.14784,Entire home/apt,189,14,0,None,None,10,347
83705,43746367,Knightsbridge Chelsea Riverside Park Apartment,47362142,Roman,Wandsworth,51.48329,-0.14898,Entire home/apt,189,21,0,None,None,10,347

In [54]:
Westminster_homes = listings.loc[(listings['room_type'] == 'Entire home/apt') & (listings['neighbourhood'] == 'Westminster')]
Westminster_homes

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
3,17402,Superb 3-Bed/2 Bath & Wifi: Trendy W1,67564,Liz,Westminster,51.52195,-0.14094,Entire home/apt,300,3,42,2019-11-02,0.37,15,326
33,45168,Best Part of Town -Home from Home!,199549,Lina,Westminster,51.51737,-0.19576,Entire home/apt,125,3,102,2020-01-03,0.86,1,0
39,51830,Fantastic Period Flat Notting Hill,239020,Sarah,Westminster,51.51757,-0.19195,Entire home/apt,120,2,121,2020-01-01,1.05,1,55
45,55706,Amazing 2 bed 2 bath flat in central London,211108,Simon,Westminster,51.49588,-0.15440,Entire home/apt,250,5,92,2020-02-02,0.79,3,302
59,67025,Charming Flat in Private Mews in a Great location,211108,Simon,Westminster,51.49600,-0.15422,Entire home/apt,150,3,123,2020-03-29,1.09,3,318
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83667,43725144,Modern & comfortable Flat in the Heart of London,45836931,Elaine,Westminster,51.49456,-0.14207,Entire home/apt,200,2,0,None,None,2,110
83682,43734785,!-!TOP-Luxury Spacious apartment3BR-*,349445208,Mandy,Westminster,51.51961,-0.14844,Entire home/apt,592,2,0,None,None,1,346
83685,43735314,4 Bed Townhouse 2mins Walk to Hyde Park,279350330,A H K,Westminster,51.51193,-0.18526,Entire home/apt,250,3,0,None,None,18,69
83688,43737034,Quintessential London Mews House on Hyde Park,313081439,Patrick,Westminster,51.51261,-0.17417,Entire home/apt,171,1,0,None,None,1,36
83691,43737744,"Smart Bayswater studio w/ W/D, nr. Lancaster",314162972,Blueground,Westminster,51.51278,-0.18028,Entire home/apt,83,30,0,None,None,12,284

In [99]:
Dagenham_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Barking and Dagenham')]
Dagenham_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
189,198258,Penthouse Living in East London,967537,Ryan,Barking and Dagenham,51.53430,0.08195,Private room,39,2,27,2019-11-24,0.25,1,345
339,306405,Spacious Double Room in East London,1575800,Mary,Barking and Dagenham,51.54259,0.15386,Private room,41,4,3,2012-05-27,0.03,1,0
391,333931,"FEMALE ONLY: LARGE ROOM, SHOWER",1693107,Zara,Barking and Dagenham,51.57291,0.14562,Private room,45,5,8,2014-07-19,0.08,3,348
398,337986,Spacious Large room in a Family Home,1717343,Tom Tyrell,Barking and Dagenham,51.54829,0.16110,Private room,20,2,2,2018-04-08,0.07,1,73
3162,2398015,"Spacious room w/p.bathroom, WiFi, Parking, Hot...",11242534,Eva,Barking and Dagenham,51.52610,0.11898,Private room,29,1,14,2020-02-29,0.46,1,123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82643,43290379,Quite en suite double bedroom,17670361,Luchesar,Barking and Dagenham,51.54143,0.11821,Private room,32,1,0,None,None,1,0
82717,43331363,Large double-ensuite in modern house with garden,253921039,Anne,Barking and Dagenham,51.54484,0.09647,Private room,22,7,0,None,None,4,73
83080,43459718,Cozy double room,19884846,Sach & Kris,Barking and Dagenham,51.53063,0.09319,Private room,28,1,0,None,None,2,348
83163,43497532,"Luxurious haven in Hainault, private room- room 1",343941963,Abidah,Barking and Dagenham,51.58504,0.13973,Private room,45,1,0,None,None,2,163
83602,43702562,NaN,268120669,Oktavian,Barking and Dagenham,51.56605,0.14714,Private room,83,3,0,None,None,1,163

In [56]:
Barnet_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Barnet')]
Barnet_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
5,25123,Clean big Room in London (Room 1),103583,Grace,Barnet,51.57224,-0.20906,Private room,29,10,129,2020-03-15,1.04,3,348
19,41311,Clean big Room in London (Room 2),103583,Grace,Barnet,51.57375,-0.20890,Private room,25,10,84,2020-01-18,0.71,3,86
25,42010,You Will Save Money Here,157884,Agri & Roger,Barnet,51.58611,-0.16272,Private room,45,2,511,2020-03-06,4.31,4,336
31,44384,SINGLE ROOM IN A PENTHOUSE APARTMEN,194769,S,Barnet,51.59554,-0.24187,Private room,30,90,1,2012-07-26,0.01,4,348
40,52940,You will LOVE this view,157884,Agri & Roger,Barnet,51.58634,-0.16392,Private room,45,2,284,2020-03-01,2.41,4,208
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81722,42987419,Spacious double bedroom with en suite bathroom,342242258,Liam,Barnet,51.64717,-0.18764,Private room,26,1,0,None,None,1,0
82853,43400068,Business District,345823281,Terne,Barnet,51.61328,-0.18015,Private room,38,1,0,None,None,1,73
83545,43674232,One room/two bedroom/ whole apartment,284239227,Vaishali,Barnet,51.59381,-0.22635,Private room,18,1,0,None,None,1,74
83665,43724308,MASSIVE STUDIO ROOM WITH DOUBLE BED AND ENSUITE,281367884,Mohamed,Barnet,51.59104,-0.25060,Private room,29,30,0,None,None,2,61
83693,43738876,Friendly accommodation room en-suite,33659738,David,Barnet,51.61300,-0.17912,Private room,23,7,0,None,None,2,0

In [58]:
Bexley_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Bexley')]
Bexley_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
777,465781,Double room view of river thames,2277549,Alec,Bexley,51.51300,0.12603,Private room,30,3,16,2017-01-01,0.18,1,348
1274,626037,room to rent,3106937,Papa,Bexley,51.48291,0.16201,Private room,35,7,0,None,None,1,348
1541,794928,Space in our HOME near London.,4188002,(Lynton And) Susan,Bexley,51.43037,0.11359,Private room,30,1,94,2020-02-21,1.08,2,160
3688,3082748,Quiet 3BD property in leafy suburbs,15686310,Theresa,Bexley,51.46015,0.09271,Private room,36,1,1,2017-09-24,0.03,1,348
4198,3550283,Home Away From Home,6537722,Funmike,Bexley,51.44991,0.19049,Private room,36,1,8,2014-10-24,0.11,1,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81187,42883828,BABA COTTAGE,253619978,Babatunde,Bexley,51.49867,0.15486,Private room,25,3,0,None,None,2,160
81734,42992269,Modern House - off street parking and garden,47524486,Gary,Bexley,51.45816,0.15386,Private room,88,6,0,None,None,1,73
81988,43049611,3 minutes walk to Abbey Wood station,342666863,Annette,Bexley,51.49127,0.12462,Private room,35,3,0,None,None,1,70
82022,43057768,Double bedroom In Welling,48488665,Kamil,Bexley,51.46901,0.09649,Private room,26,3,1,2020-04-30,0.65,2,345
82849,43396784,BABA COTTAGE,253619978,Babatunde,Bexley,51.49867,0.15506,Private room,50,3,0,None,None,2,345

In [59]:
Brent_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Brent')]
Brent_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
112,96052,*CENTRAL* modern and clean double room in Zone 2,448154,Aneta,Brent,51.55786,-0.22630,Private room,45,3,70,2019-12-31,0.63,2,347
223,238897,Bright 'n' Arty RM - Super Location,1252248,Debra,Brent,51.54376,-0.20845,Private room,60,3,490,2020-03-13,20.76,2,0
224,239697,"Kilburn Tube, Single Person, Quiet. Light",1256723,Elaine,Brent,51.54621,-0.20833,Private room,41,3,94,2019-12-09,0.89,1,252
230,242090,Spacious Double Room Flatshare in London zone 2,1270641,Jana,Brent,51.53651,-0.23791,Private room,47,6,62,2020-03-15,0.59,1,324
300,282846,double room for female only,1473649,Hoda,Brent,51.58588,-0.25342,Private room,50,1,0,None,None,1,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82635,43282244,Close to Central London. Good transport.,266916528,Kinga,Brent,51.53835,-0.19523,Private room,41,3,0,None,None,1,162
82727,43337645,Clean & Spacious private rooms off Wembley Hig...,295615217,Jennifer,Brent,51.55120,-0.29348,Private room,45,1,0,None,None,1,160
83287,43556321,AMAZING DOUBLE ROOM IN NW10 Nr MIDDLESEX HOSPITAL,127635466,Matt,Brent,51.54118,-0.24801,Private room,35,30,0,None,None,7,26
83301,43561561,Beautiful Double Bedroom in peaceful Queens Park,345177836,Lara,Brent,51.53629,-0.20059,Private room,60,7,0,None,None,1,59
83624,43709303,Rent rooms,349158721,Jay,Brent,51.55188,-0.31655,Private room,70,1,0,None,None,1,73

In [60]:
Bromley_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Bromley')]
Bromley_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
86,81473,"Lush room in Crystal Palace, London",441881,Petra,Bromley,51.41642,-0.07645,Private room,40,2,61,2019-11-03,0.55,1,61
443,361944,Double Room for professionals incl WIFI,1829481,Orsi,Bromley,51.39335,0.11933,Private room,22,1,74,2019-11-21,0.81,1,348
559,396100,Homestay with cosmopolitan family & small dog ...,1948774,Andrea,Bromley,51.42273,-0.05679,Private room,60,1,25,2020-02-26,0.64,5,144
661,430587,"Crystal Palace, home from home",2140668,Andrew,Bromley,51.41814,-0.07694,Private room,65,1,3,2014-11-03,0.03,1,348
717,449199,Single loft room close to London,1948747,Gladys,Bromley,51.39991,-0.04043,Private room,48,1,1,2013-11-01,0.01,2,195
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79905,42573934,London Monthly Rental,133067904,Pulkit,Bromley,51.36736,0.08975,Private room,23,20,0,None,None,2,0
80461,42693497,"Close to central London, two train stations",340096825,Madjid,Bromley,51.41997,-0.05521,Private room,42,1,1,2020-03-16,0.33,1,70
81057,42853155,Double Room near Airport with Parking,330642421,Zoe,Bromley,51.30774,0.03044,Private room,40,1,0,None,None,3,163
81825,43007435,Room in peaceful country cottage in heritage a...,88545241,Rob,Bromley,51.34479,0.05004,Private room,35,2,0,None,None,1,150
83314,43565356,Private room located in South London / Large flat,311559752,Atay,Bromley,51.41661,-0.07843,Private room,25,1,0,None,None,1,20

In [100]:
Camden_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Camden')]
Camden_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
32,45163,Room with a garden,199530,Deb,Camden,51.55224,-0.19964,Private room,40,2,1,2015-10-10,0.02,1,252
36,47192,Single Room in zone 1,212734,"Let'S Dance, Put On Your Red Shoes",Camden,51.52970,-0.14384,Private room,39,2,373,2019-12-28,3.15,1,251
139,118805,Theatreland Central London,599899,Richie,Camden,51.51643,-0.12111,Private room,60,2,229,2020-03-15,2.08,1,344
248,253668,Comfortable private double Room in centre.,1332358,Matt,Camden,51.52135,-0.10870,Private room,58,2,223,2019-05-28,2.23,1,72
272,266037,Central London with Stunning Views!,1395281,James,Camden,51.52799,-0.12808,Private room,55,2,512,2019-08-23,4.91,1,338
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83607,43706065,Spacious private room in Hampstead Heath,268334725,Tas,Camden,51.55339,-0.16348,Private room,60,2,0,None,None,1,163
83616,43706999,"Private, Charming Artist's Studio in Camden",344699308,Jordan,Camden,51.53520,-0.13978,Private room,80,1,0,None,None,1,346
83627,43710822,Beautiful room available,349172942,Kaur Rammandeep,Camden,51.54318,-0.12730,Private room,59,1,0,None,None,1,162
83644,43720960,Large Private Room in Victorian House,39215308,Annabel,Camden,51.54467,-0.16567,Private room,38,7,0,None,None,4,145
83660,43721756,Lovely double room in Camden Town,349297732,Francesca,Camden,51.54238,-0.13125,Private room,38,1,0,None,None,1,346

In [102]:
City_of_London_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'City of London')]
City_of_London_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
7475,6366595,Room in the city centre,33176796,Saad,City of London,51.52136,-0.09425,Private room,35,1,1,2015-05-24,0.02,2,0
10011,7876250,Self-Contained Luxury En Suite Room,33979339,Kathleen,City of London,51.51128,-0.09523,Private room,88,3,150,2020-02-29,2.57,1,184
11474,8971725,A Private Guest Room in Liverpool Street Area,2909440,Preechaya,City of London,51.51731,-0.07775,Private room,50,2,151,2020-03-10,4.87,1,69
14312,11071211,Amazing master room in the City!,5380343,Junchao,City of London,51.52120,-0.09276,Private room,40,10,3,2019-09-14,0.09,1,251
15824,12230551,Spare room in the City of London,65802710,Thomas,City of London,51.51513,-0.07723,Private room,120,1,0,None,None,1,0
21217,15414682,Newly refurbished ensuite double EC4V,52093846,Anastasia,City of London,51.51181,-0.09495,Private room,70,7,4,2019-03-24,0.21,2,71
21894,15858013,"GIRLS ONLY - Liverpool Street, Sunshine Cosy R...",30389952,Keriel,City of London,51.51497,-0.07658,Private room,25,1,49,2018-07-15,1.12,1,0
22750,16276053,Spacious Double Room in Zone 1 near Shoreditch,734407,Baharak,City of London,51.51688,-0.07719,Private room,35,4,17,2017-11-28,0.41,1,0
25255,17734232,Charming en-suite double bedroom with balcony,17569629,Margarida,City of London,51.51399,-0.10169,Private room,63,15,0,None,None,1,0
25514,17861929,Spacious Double room with En-suite- Tower Bridge,122242322,Claudia,City of London,51.51001,-0.07500,Private room,55,3,5,2017-09-22,0.13,1,0
28571,19353524,"Double room in Central London, Liverpool Stree...",6431448,Sean,City of London,51.51598,-0.07750,Private room,49,3,2,2019-01-19,0.06,1,0
35358,22059425,"Doppelzimmer in 4er WG, Central, Liverpool St",161125605,Marco,City of London,51.51552,-0.07587,Private room,35,6,1,2017-12-22,0.03,1,0
36264,22491570,"Prime location - large, double room!",38895161,Nicole,City of London,51.51613,-0.07791,Private room,46,1,10,2019-10-27,0.35,1,0
37423,23082972,Single room in City of London,171240754,Richard,City of London,51.51498,-0.07557,Private room,30,10,8,2018-07-13,0.29,1,0
40097,24506878,Modern Double Bed at the Centre of London,28937993,Jay,City of London,51.51141,-0.07780,Private room,50,1,8,2018-05-26,0.31,1,0
40224,24591212,Sunny cozy apartment in Liverpool Street,185827905,Kris,City of London,51.51758,-0.07932,Private room,160,10,0,None,None,1,0
40862,24928395,City double room in this hidden gem close to T...,187433115,Apex Temple Court Hotel,City of London,51.51428,-0.10805,Private room,179,1,10,2020-03-07,0.48,2,196
40863,24928418,Junior Suite in this hidden gem close to Theat...,187433115,Apex Temple Court Hotel,City of London,51.51306,-0.11003,Private room,279,1,6,2020-03-18,0.25,2,193
40865,24929006,Deluxe family room in this modern four-star ho...,187454714,Apex City Of London,City of London,51.50991,-0.07842,Private room,219,1,0,None,None,2,232
40866,24929019,City double room in this modern four-star hote...,187454714,Apex City Of London,City of London,51.51094,-0.07904,Private room,179,1,9,2020-03-14,0.4,2,232
41358,25176674,Light filled modernist apartment central Londo...,334175,Nicky,City of London,51.52209,-0.09468,Private room,85,1,7,2020-02-27,0.3,1,202
42133,25705578,City Double room in this boutique four-star ho...,192842323,Apex London Wall Hotel,City of London,51.51531,-0.08688,Private room,139,1,3,2020-02-23,0.53,2,88
42134,25705675,Junior Suite in this boutique four-star hotel ...,192842323,Apex London Wall Hotel,City of London,51.51526,-0.08842,Private room,189,1,0,None,None,2,88
42879,26106927,Bright and Airy Apartment next to the Barbican,41377038,Mingyi,City of London,51.52090,-0.09624,Private room,65,2,10,2020-02-28,0.44,1,0
43107,26243951,Private room overlooking the Tower of London,47366298,William Mark,City of London,51.50947,-0.07903,Private room,82,2,8,2019-02-12,0.37,1,0
43302,26347390,Luxury Double Room in Central London,186725781,Chamberlain Hotel,City of London,51.51110,-0.07500,Private room,335,1,3,2020-01-12,0.22,4,347
43303,26347462,Deluxe Superior Room in Central London,186725781,Chamberlain Hotel,City of London,51.51267,-0.07457,Private room,375,1,0,None,None,4,339
43304,26347524,Deluxe King Size Room in Central London,186725781,Chamberlain Hotel,City of London,51.51180,-0.07497,Private room,365,1,0,None,None,4,347
43306,26347591,Roof Terrace Room in Central London,186725781,Chamberlain Hotel,City of London,51.51189,-0.07517,Private room,395,1,1,2019-04-30,0.07,4,347
44051,26798459,Large and comfortable room in a prime location,106098549,Romain,City of London,51.51553,-0.07542,Private room,35,3,6,2019-07-27,0.26,1,0
46467,28019952,London nice single room,211635412,William,City of London,51.51295,-0.09697,Private room,31,2,0,None,None,1,0
47705,28757729,Luxury Modern Bedroom In Central London,216917861,Graham,City of London,51.51051,-0.07820,Private room,90,1,21,2019-05-08,1.01,1,0
48841,29453468,Presidential Private Room.,220763375,Howard,City of London,51.51052,-0.09689,Private room,42,1,2,2018-12-09,0.11,1,0
49015,29528894,Spacious 2BD Apartment Just Off Chancery Lane!,222354317,Richard,City of London,51.51546,-0.11161,Private room,170,3,15,2019-01-28,0.77,1,0
49804,29941751,St Pauls Apartments,224967268,Jason,City of London,51.51152,-0.10347,Private room,165,1,0,None,None,34,343
49805,29942105,StPaul's - NB - ONE BEDROOM APARTMENT,224967268,Jason,City of London,51.51291,-0.10352,Private room,165,1,0,None,None,34,347
49849,29959432,StPaul's - NB - ONE BEDROOM APARTMENT,224967268,Jason,City of London,51.51176,-0.10321,Private room,165,1,0,None,None,34,347
53954,32277955,Cosy room near Liverpool Street Station,29177716,Jose,City of London,51.51706,-0.07944,Private room,49,1,4,2019-03-21,0.26,1,0
62850,36541081,Executive Suite in Four Seasons Ten Trinity,181462750,Mohammad,City of London,51.51125,-0.07707,Private room,500,1,0,None,None,3,347
63145,36685129,Single room w/ double bed in central London,133528107,Petit,City of London,51.51463,-0.07524,Private room,25,2,2,2019-07-20,0.18,2,0
68742,38951260,Private double room & bathroom in the City,147259525,Andrew,City of London,51.51293,-0.07492,Private room,60,1,39,2020-03-18,4.53,3,72
68762,38958262,Private room (queen’s mattress) in central London,122581561,Sheng,City of London,51.51344,-0.10882,Private room,65,1,13,2020-03-09,1.7,1,0
69935,39367729,Luxury Barbican Double Bedroom and Bathroom,260161530,Nate,City of London,51.52064,-0.09732,Private room,150,1,5,2019-12-19,0.71,1,71
70179,39468961,Saint Paul’s Cathedral 4 mins walk. Comfy room.,187825061,Grace,City of London,51.51139,-0.09632,Private room,120,1,0,None,None,2,0
70371,39533014,(ROOM-3)MODERN DOUBLE ROOM IN LIVERPOOL STREET,303511453,Sofia,City of London,51.51739,-0.07774,Private room,120,2,6,2020-01-02,0.81,2,71
70427,39554233,(ROOM-2)DOUBLE ROOM IN THE HEART OF LONDON,303511453,Sofia,City of London,51.51841,-0.07887,Private room,120,2,7,2020-01-01,0.99,2,69
70653,39625679,Super civilised and very central double room.,26122263,Dirk,City of London,51.51094,-0.08883,Private room,53,1,16,2020-01-18,2.18,1,0
72540,40225467,Cozy room in central London,37383167,Maddi,City of London,51.51492,-0.07563,Private room,100,1,0,None,None,1,0
76256,41397634,Newly Refurbished 1 DoubleBed room flat for rent,325592714,Cabdirizak,City of London,51.51535,-0.08118,Private room,59,6,0,None,None,1,347
82743,43352033,R,345318908,C,City of London,51.51791,-0.08083,Private room,60,2,0,None,None,1,346
83341,43580238,Private room in Camden with 45 inch tv.,47578280,Jasmine,City of London,51.51299,-0.08179,Private room,60,5,0,None,None,2,347

In [103]:
Croydon_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Croydon')]
Croydon_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
11,38151,Double room/ lounge,163634,Lisa,Croydon,51.41940,-0.08722,Private room,65,1,0,None,None,1,348
47,56784,1 twinroom,269609,Trudi,Croydon,51.39998,-0.10548,Private room,35,1,0,None,None,2,345
79,81015,DOUBLE ROOM,269609,Trudi,Croydon,51.40092,-0.10452,Private room,35,1,0,None,None,2,348
103,90522,Luxury Room In S.W London,490714,Melinda And Tony,Croydon,51.41297,-0.11367,Private room,40,2,9,2019-08-11,0.08,2,348
193,200713,LOVELY & COZY ROOM WITH KITCHENETTE,968464,Catia,Croydon,51.38447,-0.12659,Private room,18,3,47,2019-04-30,0.44,5,225
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83124,43476835,Great Bedroom Near West Croydon Station,32951322,Ali,Croydon,51.37642,-0.10824,Private room,30,5,0,None,None,2,73
83127,43477196,DOUBLE BEDROOM NEAR WEST CROYDON STATION,32951322,Ali,Croydon,51.37535,-0.10791,Private room,29,5,0,None,None,2,22
83264,43545724,Beautiful Room in Shirley/Bromley,26356692,Linda,Croydon,51.38455,-0.04160,Private room,50,3,0,None,None,1,348
83328,43574271,Home from home,30794057,Donz,Croydon,51.39568,-0.09769,Private room,50,2,0,None,None,3,160
83586,43688576,"Room in London, near London Bridge",174228764,Enes,Croydon,51.38994,-0.05872,Private room,55,1,0,None,None,1,160

In [64]:
Ealing_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Ealing')]
Ealing_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
118,98271,Fab Double Room in Central Ealing,518852,Paulo,Ealing,51.51390,-0.29568,Private room,60,1,8,2019-11-23,0.08,1,345
153,145612,"West London-W7, Hanwell (Area Ealing) Room",704495,Nina,Ealing,51.50549,-0.33443,Private room,28,7,98,2020-03-23,0.91,2,70
250,254996,Homely room in leafy Ealing.,1339807,Tina,Ealing,51.52333,-0.31282,Private room,30,1,333,2020-03-08,3.18,1,348
274,269065,Cosy room 1 friendly home Ealing W7,1409580,Kate,Ealing,51.50558,-0.32817,Private room,28,2,44,2019-06-02,0.42,2,163
297,281563,Double Room in Edwardian House,1467581,Philip,Ealing,51.51428,-0.26447,Private room,50,1,69,2020-02-09,0.69,1,163
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83219,43521920,Massive lovely room in best location,300584625,Mo,Ealing,51.50728,-0.24626,Private room,80,5,0,None,None,4,345
83284,43555122,Spacious & cosy double room with private bathroom,46101126,Marion,Ealing,51.50741,-0.25747,Private room,40,2,0,None,None,1,73
83362,43594668,Cozy room in the heart of London,340252917,Alex,Ealing,51.50658,-0.24668,Private room,17,3,0,None,None,3,347
83489,43647306,Double room guest temp stay af,348537686,Rodney,Ealing,51.54192,-0.37798,Private room,21,1,0,None,None,1,73
83629,43711255,En-Suite Room in Greenford with Garden + Bbq Area,349176877,Andrea,Ealing,51.53973,-0.30782,Private room,29,6,0,None,None,1,207

In [65]:
Enfield_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Enfield')]
Enfield_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
137,116268,DOUBLE RM IN LONDON(check in unavail 21-24 Feb),586671,Joe,Enfield,51.61308,-0.11829,Private room,25,5,22,2020-02-16,0.26,1,260
232,243093,Stunning double room own bathroom,1271134,Sophia,Enfield,51.63546,-0.11726,Private room,65,5,11,2017-09-24,0.13,3,348
673,434666,Double bedroom+ 24 hr internet &Sky,2056768,Dipo,Enfield,51.65405,-0.03301,Private room,50,1,0,None,None,1,0
1047,562148,"Small double room, close Stansted Airport & City",2764375,Ivona,Enfield,51.64787,-0.04278,Private room,30,2,27,2019-06-16,0.76,1,345
1449,740520,"Cockfosters, North London: Private en-suit Do...",925632,Kate,Enfield,51.64560,-0.14305,Private room,150,1,1,2018-09-15,0.05,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82885,43407985,Twin room in large North London house,176156899,Jeanine,Enfield,51.62056,-0.11465,Private room,40,4,0,None,None,3,146
82901,43410197,Single room for ladies,99373161,Michael,Enfield,51.63039,-0.08166,Private room,20,14,0,None,None,5,348
82902,43410290,"Beautiful parks, peaceful and pleasant area.",99373161,Michael,Enfield,51.63071,-0.08148,Private room,20,5,0,None,None,5,163
83670,43727726,Lovely double room in the heart of north london.,146097554,Kemal,Enfield,51.62138,-0.09300,Private room,28,1,0,None,None,1,70
83686,43736332,Guest room in suburban family home,7153910,Marianna,Enfield,51.62249,-0.13252,Private room,25,1,0,None,None,1,160

In [66]:
Greenwich_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Greenwich')]
Greenwich_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
275,269172,London Greenwich Docklands Single,1410091,Kath,Greenwich,51.47176,0.05943,Private room,40,1,0,None,None,1,348
332,304161,Lovely En-Suite Room Greenwich (A),1349562,Fola,Greenwich,51.48043,0.03946,Private room,37,3,11,2020-04-09,0.13,7,345
333,304162,Lovely Single Room in Greenwich,1349562,Fola,Greenwich,51.47689,0.03238,Private room,40,1,23,2019-10-11,0.26,7,345
350,310949,A Modern Double Room in Greenwich.,1599044,Robert And Antonio,Greenwich,51.49883,0.10547,Private room,34,3,239,2020-03-15,2.58,1,348
543,391529,"Attractive, comfy double in Eltham",1958174,Joanna,Greenwich,51.49343,0.01198,Private room,40,3,5,2015-11-25,0.06,5,347
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83020,43441375,Beautiful Modern Riverside View Apartment,59701558,Yuliya,Greenwich,51.49732,0.01226,Private room,35,12,0,None,None,1,162
83106,43471058,Room to let in Greenwich,88978398,Vaz,Greenwich,51.48432,0.01315,Private room,45,7,0,None,None,2,73
83218,43520097,"Single room, Greenwich",17340686,Luz,Greenwich,51.48493,0.00195,Private room,25,1,0,None,None,1,73
83445,43631305,"Close to central, ensuite bedroom, new refurbi...",16652600,Yasemin,Greenwich,51.43467,0.05224,Private room,59,1,0,None,None,1,345
83634,43714441,Single bedroom in stunning design apartment,2255879,Raphael,Greenwich,51.48243,0.00877,Private room,75,5,0,None,None,1,73

In [104]:
Hackney_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Hackney')]
Hackney_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
90,84532,"Cosy Double room London, River View",462165,Murielle,Hackney,51.57552,-0.06052,Private room,25,2,80,2020-03-03,1.16,1,60
95,85582,Room to let,468831,Aliye,Hackney,51.56472,-0.05362,Private room,15,1,0,None,None,1,252
113,96640,Double room in lovely modern flat,512757,Lucy,Hackney,51.57204,-0.08339,Private room,100,1,0,None,None,1,347
124,100326,"LGE single Victorian room, Clapton",527471,Cecile & Adam,Hackney,51.56485,-0.05612,Private room,33,2,109,2019-10-16,1.03,1,72
197,208952,PENDA'S MEAD HOUSE,1029332,Joan,Hackney,51.55397,-0.03340,Private room,120,2,0,None,None,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83486,43642728,Stunning house located in East London,105211770,Reginaldo,Hackney,51.55185,-0.07445,Private room,45,2,0,None,None,1,42
83527,43661557,Room in Clapton / East London,348684604,Lilian,Hackney,51.56039,-0.05846,Private room,35,2,0,None,None,1,72
83618,43708048,★Beautiful master bedroom w/ en suite and balc...,39205260,Monika,Hackney,51.53800,-0.07800,Private room,65,3,0,None,None,3,20
83628,43711072,Small cute room in Hoxton,34646075,Kat,Hackney,51.53173,-0.07291,Private room,20,1,0,None,None,1,346
83641,43719586,Huge double room in a rooftop terraced house :),349281466,Fran,Hackney,51.55223,-0.04612,Private room,23,1,0,None,None,1,30

In [105]:
Hammersmith_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Hammersmith and Fulham')]
Hammersmith_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
4,17506,Boutique Chelsea/Fulham Double bed 5-star ensuite,67915,Charlotte,Hammersmith and Fulham,51.47935,-0.19743,Private room,150,3,0,None,None,2,346
13,38605,SUNNY ROOM PRIVATE BATHROOM PLUS BREAKFAST,165579,Elisa & Dom,Hammersmith and Fulham,51.50687,-0.23328,Private room,62,2,366,2020-03-15,3.12,2,126
24,42001,A room with a view in Kensington,183658,Maria,Hammersmith and Fulham,51.49441,-0.20479,Private room,60,3,167,2019-10-23,1.39,2,49
26,42692,Fabulous flat w garden and bkfst!,186510,Shelley,Hammersmith and Fulham,51.50803,-0.21599,Private room,125,1,0,None,None,1,0
27,43129,Quiet Comfortable Room in Fulham,188138,Sylvan,Hammersmith and Fulham,51.48172,-0.20957,Private room,36,2,197,2020-03-16,2.34,3,346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82744,43352076,One bed in loft very clean and tidy,235028800,Bekim,Hammersmith and Fulham,51.50695,-0.24492,Private room,68,4,0,None,None,1,162
82798,43374248,Cozy and clean place in great location.,280287877,Ala,Hammersmith and Fulham,51.48762,-0.20132,Private room,60,1,0,None,None,1,88
83164,43498135,Lovely double room in central Fulham,195430600,Manueles,Hammersmith and Fulham,51.48397,-0.21208,Private room,45,1,0,None,None,1,71
83171,43501797,Gorgeous Bright Room in Kensington,193956216,Ana,Hammersmith and Fulham,51.50196,-0.21753,Private room,65,1,0,None,None,1,12
83508,43654067,"WEST LONDON,ACTON VALE LONDON W3 SA",253820118,Alma,Hammersmith and Fulham,51.50597,-0.24528,Private room,24,1,0,None,None,1,162

In [70]:
Haringey_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Haringey')]
Haringey_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
8,36660,You are GUARANTEED to love this,157884,Agri & Roger,Haringey,51.58461,-0.16170,Private room,72,2,528,2020-02-17,4.44,4,311
15,38950,Room 1 Large Double Bedroom - front ground floor,167107,Paul,Haringey,51.58730,-0.08606,Private room,45,1,0,None,None,4,72
18,40228,Room 4 Cosy Double Bedroom on First Floor,167107,Paul,Haringey,51.58860,-0.08805,Private room,29,1,0,None,None,4,73
43,55133,Results: All Love this Room,157884,Agri & Roger,Haringey,51.58410,-0.16188,Private room,49,2,232,2020-03-11,2.01,4,222
62,69198,Spacious single room in quiet flat,345886,Alda,Haringey,51.59016,-0.09427,Private room,30,3,11,2019-12-13,0.11,1,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83560,43680358,Huge double room in the Warehouse,152684272,Paulina,Haringey,51.58418,-0.06531,Private room,29,1,0,None,None,1,261
83568,43682887,Cozy New Studio close to Central London,335900360,Alexei,Haringey,51.56676,-0.10620,Private room,35,7,0,None,None,1,345
83573,43683992,Spacious double room in lovely house with garden,35226881,Tania,Haringey,51.59220,-0.09504,Private room,50,1,0,None,None,1,345
83604,43703998,Victorian 1stfloor flat for toddler and parents,14528226,Dom & Aleksandra,Haringey,51.57828,-0.12033,Private room,90,14,0,None,None,1,132
83695,43739391,Spacious double room close to central London,158099657,Tautvyde,Haringey,51.58684,-0.10459,Private room,35,1,0,None,None,1,70

In [71]:
Harrow_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Harrow')]
Harrow_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
633,421760,"warm, comfy and bright double room",2097774,Chinwe,Harrow,51.60896,-0.29285,Private room,25,1,2,2019-09-09,0.1,1,0
876,505926,Light Sunny Peaceful Space Harrow,2493978,Natalie,Harrow,51.58115,-0.35830,Private room,35,4,4,2020-01-31,0.39,1,133
930,522901,Lovely Family Home! 1 Minute from Tube Station!,2570275,Phil And Aquilla,Harrow,51.60682,-0.29211,Private room,27,1,119,2020-03-24,1.23,3,59
974,536033,Cottage in the beautiful garden,2483466,Yeonju,Harrow,51.58778,-0.37367,Private room,45,1,12,2020-04-19,0.13,3,345
1312,656509,Lovely room in a quiet area,2483466,Yeonju,Harrow,51.60747,-0.37280,Private room,49,1,6,2016-09-10,0.07,3,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79548,42464463,"Large Bright, Double Bedroom in Harrow",8488876,Sharon,Harrow,51.58882,-0.35028,Private room,29,3,0,None,None,1,345
80471,42697979,SPACIOUS DOUBLE ROOM IN HARROW WEALDSTONE,334706623,Yasmin,Harrow,51.60774,-0.34962,Private room,50,1,0,None,None,2,0
81088,42857191,Spacious Private Room in a homely house in london,341270462,Harjot,Harrow,51.60174,-0.39547,Private room,30,1,0,None,None,1,348
81497,42939722,"Double room, house with driveway and garden.",341894864,Florin,Harrow,51.59517,-0.32969,Private room,27,1,1,2020-03-18,0.33,1,348
81760,42994363,Lovely double bedroom in stunning home,31994734,A.J,Harrow,51.60054,-0.34602,Private room,40,1,0,None,None,1,348

In [72]:
Havering_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Havering')]
Havering_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1015,550726,Paraympic Purple / Turquoise Rooms,2706724,Cibele,Havering,51.60860,0.24083,Private room,40,2,0,None,None,1,0
1165,594569,Quiet single room with garden and house access,2701693,Jutta,Havering,51.57960,0.16810,Private room,18,2,43,2019-02-28,0.54,2,289
1949,1159758,Feel like home - Enjoy your stay,4942966,Mangala,Havering,51.60195,0.23815,Private room,95,3,30,2016-01-13,0.35,1,345
3770,3182243,GIDEA PARK ESSEX SINGLE ROOM,8584509,Paul,Havering,51.58293,0.20105,Private room,30,1,16,2020-01-24,0.26,1,0
4783,4056174,Modern dbl rm & bathroom,18160693,Kate,Havering,51.58087,0.17602,Private room,23,3,12,2020-02-08,0.18,1,337
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81265,42894131,Super host 5 star .,127594929,Chef Vinny,Havering,51.56082,0.22151,Private room,39,2,1,2020-04-13,0.45,6,348
81490,42938594,Queen Bed,127594929,Chef Vinny,Havering,51.56145,0.22159,Private room,25,2,0,None,None,6,345
81731,42989457,Luxury Space (Room) for Professionals,186954694,Shahidul,Havering,51.52726,0.20812,Private room,55,1,0,None,None,1,347
82416,43164682,"Comfy and welcoming, beautiful private garden ,",261272873,Carol,Havering,51.61016,0.23935,Private room,80,1,0,None,None,1,73
83648,43721172,Large single room with breakfast.,349292612,Jennifer,Havering,51.54587,0.19983,Private room,20,1,0,None,None,1,73

In [73]:
Hillingdon_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Hillingdon')]
Hillingdon_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
279,271122,Heathrow BNB - Home Away From Home!,1419096,Claudia,Hillingdon,51.53085,-0.39970,Private room,30,1,7,2017-05-27,0.08,4,73
324,300333,london is waiting for you,1546859,Nagla,Hillingdon,51.55964,-0.40993,Private room,57,1,0,None,None,1,348
342,307923,"Double room no 1 near Brunel, Uxbridge, Heathrow",1584404,Rubina,Hillingdon,51.52293,-0.46245,Private room,27,1,87,2020-02-26,0.85,2,135
1194,601018,next to lake/woods - london suburb,2963984,Shailesh,Hillingdon,51.58807,-0.43468,Private room,40,2,0,None,None,1,344
1399,713741,Heathrow Express A calm after storm,1419096,Claudia,Hillingdon,51.53252,-0.40130,Private room,27,2,4,2016-12-07,0.04,4,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82310,43128160,Twin Room at Heathrow Inn,343177780,Nermine,Hillingdon,51.51215,-0.41129,Private room,70,1,0,None,None,8,347
82897,43409736,Private room with Garden next to Lidl,186577165,Justyna,Hillingdon,51.55962,-0.38576,Private room,30,1,0,None,None,1,66
83321,43570738,Quirky en-suite studio,347837346,Caroline,Hillingdon,51.57164,-0.41593,Private room,30,1,0,None,None,1,291
83546,43674645,"Bog &cosy rooms with Living hall, Garden,Parking",348800359,Md,Hillingdon,51.51500,-0.41620,Private room,60,1,0,None,None,1,73
83621,43708610,Lovely single room (not box room) \ngreat storage,281883180,Claire,Hillingdon,51.52691,-0.39662,Private room,19,3,0,None,None,2,345

In [74]:
Hounslow_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Hounslow')]
Hounslow_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
6,33332,Beautiful Ensuite Richmond-upon-Thames borough,144444,Chi-Chi,Hounslow,51.46507,-0.32421,Private room,100,1,6,2020-03-08,0.05,2,348
21,41509,Room in maisonette in chiswick,181028,Peter,Hounslow,51.49157,-0.25600,Private room,49,1,71,2019-12-23,0.65,1,160
184,189002,FAB CHISWICK ROOM,911280,Vee,Hounslow,51.49146,-0.27072,Private room,85,2,5,2015-08-25,0.05,1,162
276,269899,Beautiful farmhouse on the R Thames,1413291,Barry,Hounslow,51.48770,-0.28460,Private room,400,1,120,2020-03-14,7.06,1,0
387,330044,Large Victorian ensuite room,1684191,Alessandra,Hounslow,51.48406,-0.26182,Private room,32,3,6,2018-04-22,0.07,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81698,42980922,Massive Double bedroom close to Isleworth station,187343220,Jolisa,Hounslow,51.47741,-0.34024,Private room,47,1,0,None,None,2,70
82426,43167991,Lovely double bedroom heart of Chiswick,341932140,Connor,Hounslow,51.48868,-0.27661,Private room,72,1,0,None,None,1,162
83285,43555602,Beautiful sunlit rooms+ FREE parking+ 30m to city,12708668,Chris,Hounslow,51.47027,-0.34398,Private room,60,1,0,None,None,1,73
83405,43620285,Clean and Lovely private Room,348285842,Rebecca,Hounslow,51.49084,-0.31286,Private room,25,2,0,None,None,1,4
83537,43667699,Beautiful newly furnished double bedroom,187343220,Jolisa,Hounslow,51.48146,-0.34656,Private room,31,1,0,None,None,2,289

In [75]:
Islington_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Islington')]
Islington_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,13913,Holiday London DB Room Let-on going,54730,Alina,Islington,51.56802,-0.11121,Private room,65,1,21,2020-02-22,0.18,3,347
87,81635,"Clerkenwell penthouse, huge terrace",443041,Carol,Islington,51.52842,-0.11141,Private room,99,4,56,2020-01-11,0.66,2,312
134,108562,stanza a londra,561772,Marina,Islington,51.56739,-0.11264,Private room,30,1,7,2017-10-08,0.13,2,59
180,182899,ARCHITECT'S FLATLET ISLINGTON,497366,Andrea & Mark,Islington,51.55021,-0.08578,Private room,40,1,17,2019-08-23,0.54,2,341
213,231692,Cool room - Dalston -,1211430,Janina,Islington,51.54826,-0.08522,Private room,29,14,58,2020-03-10,0.58,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83459,43635642,Modern Room Near Tufnell Park Playing Fields,226804666,Miroslav,Islington,51.56091,-0.12338,Private room,1880,2,0,None,None,21,347
83526,43661505,Spacious Double room&Huge Garden in central Lo...,27564491,Ctella,Islington,51.54265,-0.08546,Private room,46,5,0,None,None,1,346
83539,43670306,Two bedrooms for 4 people in lovely Barnsbury,20258777,Arabella,Islington,51.54199,-0.11556,Private room,98,3,0,None,None,2,237
83620,43708602,⌘Spacious stylish room ✿garden square ☞central,41906950,Tina,Islington,51.53019,-0.11080,Private room,65,1,0,None,None,3,42
83626,43710594,Nature inspired room ❀ central ❀ garden square,41906950,Tina,Islington,51.52944,-0.11117,Private room,50,1,0,None,None,3,130

In [76]:
Kensington_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Kensington and Chelsea')]
Kensington_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
55,64429,Portobello Road Notting hill. Exceptional value.,193586,Julie,Kensington and Chelsea,51.52053,-0.20968,Private room,55,1,449,2020-03-10,3.9,2,266
122,99241,The Portobello Room - Notting Hill,522802,The Portobello Room,Kensington and Chelsea,51.50900,-0.19948,Private room,99,1,124,2014-11-17,1.12,1,347
155,150900,"Double room, breathtaking views",726717,Tatu,Kensington and Chelsea,51.48128,-0.18071,Private room,58,2,45,2019-10-20,0.82,2,346
169,172629,Room in Kensington + private bathroom,471088,Anthony,Kensington and Chelsea,51.49460,-0.19441,Private room,85,3,149,2020-03-09,1.83,2,344
187,193794,Bright single room in Chelsea,940283,Andrew,Kensington and Chelsea,51.48745,-0.18869,Private room,35,3,163,2019-12-14,1.53,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83262,43545482,Luxury Private Rooms,118360991,Natallia,Kensington and Chelsea,51.50017,-0.18084,Private room,80,1,0,None,None,2,70
83300,43559598,"Luxury flat in kensington, double room & ensuite",58421530,Becky,Kensington and Chelsea,51.49409,-0.18715,Private room,57,7,0,None,None,1,264
83353,43590100,Beautiful double room kitchen lounge Kensington,36351534,Heather,Kensington and Chelsea,51.49286,-0.19005,Private room,90,7,0,None,None,1,344
83564,43680674,En-suite Small Double Room in Kensington,18633786,Steve,Kensington and Chelsea,51.49716,-0.20763,Private room,65,2,0,None,None,13,69
83565,43680740,"Single Room close to Kensington Olympia, London",18633786,Steve,Kensington and Chelsea,51.49883,-0.20608,Private room,50,2,0,None,None,13,69

In [77]:
Kingston_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Kingston upon Thames')]
Kingston_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
611,414862,Cosy room - 20 min train to London,1961527,Penny,Kingston upon Thames,51.39368,-0.28963,Private room,25,2,130,2020-02-21,1.31,1,334
836,487783,"TWIN / DOUBLE Room, Central Kingston, S W London",2413601,Claire,Kingston upon Thames,51.41848,-0.30356,Private room,36,2,106,2020-03-13,1.11,2,348
1321,661917,"Spacious Double Bedroom,Cental Kingston SW Lo...",2413601,Claire,Kingston upon Thames,51.41743,-0.30365,Private room,42,2,57,2020-01-02,0.61,2,348
2046,1231996,Large Double Room in a Family Home,151192,James,Kingston upon Thames,51.40604,-0.29406,Private room,55,1,128,2019-12-13,1.5,1,333
2073,1258698,"Two cozy rooms, one single, one double",6556823,Geraldine,Kingston upon Thames,51.36213,-0.31174,Private room,75,2,3,2019-05-06,0.15,3,162
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82257,43113410,Chills and free Netflix,343169074,Samuel,Kingston upon Thames,51.38123,-0.28229,Private room,60,1,0,None,None,1,73
82305,43123843,Amazing Bedroom - Great Wifi +,246360166,Carol,Kingston upon Thames,51.35728,-0.30934,Private room,39,1,0,None,None,4,0
82590,43247685,Clean bright nice very close to Richmond park,344386115,Mamad,Kingston upon Thames,51.41843,-0.28359,Private room,37,1,0,None,None,1,163
83100,43468139,Super King bed near train station,346575078,Keith,Kingston upon Thames,51.38468,-0.25094,Private room,40,1,0,None,None,1,14
83576,43684782,Independent cosy room. Straight train to London,98941106,Salmaaz,Kingston upon Thames,51.38250,-0.25013,Private room,20,1,0,None,None,1,160

In [78]:
Lambeth_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Lambeth')]
Lambeth_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
41,53242,Beautiful double bedroom Stockwell,247650,Louise,Lambeth,51.47075,-0.12913,Private room,55,14,8,2016-08-13,0.11,2,345
57,65908,Lovely room in cool Brixton,322341,Kate,Lambeth,51.45971,-0.12008,Private room,80,2,0,None,None,1,0
66,72913,Dbl en suite @ Oval tube Sth London,379315,Matthew,Lambeth,51.48064,-0.11439,Private room,45,2,157,2020-03-03,1.39,1,14
93,85191,Maisonette in Central London Zone 1,466353,Elisabetta,Lambeth,51.48968,-0.11637,Private room,58,2,415,2020-02-23,3.72,1,345
109,93500,LUXURY DOUBLE ROOM CLAPHAM(ZONE 2),501399,Gabriele,Lambeth,51.46441,-0.12669,Private room,54,2,41,2018-01-30,0.51,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83356,43591140,Londres - Chambre cosy dans appartement lumineux,6350902,Geneviève,Lambeth,51.48506,-0.12274,Private room,35,30,0,None,None,1,161
83372,43601480,CENTRAL MODERN APARTMENT # 2,232406237,Ricardina,Lambeth,51.48136,-0.12362,Private room,100,1,0,None,None,2,346
83488,43646124,Affordable room 2 minutes walk to Brixton Station,309776890,Vanessa,Lambeth,51.46767,-0.11331,Private room,40,2,0,None,None,1,132
83541,43672787,Clean Central London room available with Internet,115926236,Erdal,Lambeth,51.48149,-0.11271,Private room,35,1,0,None,None,1,347
83663,43723890,Spacious Double room in Crystal Palace,133715479,Kindly,Lambeth,51.42025,-0.08454,Private room,35,1,0,None,None,2,73

In [79]:
Lewisham_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Lewisham')]
Lewisham_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
74,79216,"2 twin beds in dble rm, Catford, UK",426378,Thesla,Lewisham,51.43828,-0.01975,Private room,60,2,0,None,None,1,348
105,90681,Beautiful Attic suite balcony views,491199,Gillian,Lewisham,51.44762,-0.05716,Private room,55,2,66,2019-12-10,0.71,1,324
210,229684,Bright room on park near city 7,448365,Roland,Lewisham,51.48747,-0.04066,Private room,30,1,22,2016-11-06,0.31,3,0
303,284437,Bright Guest Suite | Private Bathroom,762736,Lydia,Lewisham,51.46865,-0.04330,Private room,75,2,10,2019-09-14,0.15,3,342
392,334310,"Superior Boutique Comfort, Amazing Fast Transport",1703080,Allan,Lewisham,51.45735,-0.01614,Private room,36,5,168,2020-03-12,1.67,3,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83466,43635799,Stylish Room Near Margaret McMillan Park,226804666,Miroslav,Lewisham,51.47563,-0.03408,Private room,1880,3,0,None,None,21,348
83467,43635817,Stylish Room Near Margaret McMillan Park,226804666,Miroslav,Lewisham,51.47526,-0.03266,Private room,1880,3,0,None,None,21,0
83481,43639892,Double bedroom with amazing city views,177030282,Aura,Lewisham,51.46451,-0.01190,Private room,40,10,0,None,None,1,36
83590,43691640,Smart 1 bedroom with shared bathrm great location,119621091,James,Lewisham,51.45045,-0.01197,Private room,30,24,0,None,None,1,348
83678,43734053,"Large, light and cosy room in Honor Oak Park",81467420,Clementine,Lewisham,51.45175,-0.03960,Private room,26,1,0,None,None,1,0

In [80]:
Merton_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Merton')]
Merton_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
73,79129,Double Room 2 Miles from Wimbledon in Morden SM4,425764,Danielle,Merton,51.39711,-0.21342,Private room,29,1,140,2020-03-08,1.5,1,308
253,255961,Beautiful double bedroom 5 minutes from station,1345766,Rino,Merton,51.42007,-0.16835,Private room,25,1,70,2020-03-16,1.17,1,323
320,296720,bedroom to rent in SW17 - London,1530293,Carolina,Merton,51.41885,-0.16645,Private room,45,1,0,None,None,1,0
337,305813,Family room with en suite bathroom,1573022,Sue,Merton,51.41715,-0.24570,Private room,145,2,17,2020-03-07,0.95,2,0
338,305818,"Double bedroom, private bathroom",1573022,Sue,Merton,51.41761,-0.24613,Private room,100,3,0,None,None,2,345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81959,43040937,Thirsk Road Studios by Allô Housing,988379,Allô,Merton,51.41709,-0.15855,Private room,70,2,0,None,None,104,342
82128,43085411,South Wimbledon Near Transport,63251607,Marcia,Merton,51.41627,-0.19226,Private room,29,7,0,None,None,3,70
82350,43139161,Double Lovely Room in Wimbledon / Colliers wood,19347854,David,Merton,51.42085,-0.18571,Private room,29,1,0,None,None,1,345
82734,43345146,Quiet single room in spacious light 2 bedroom ...,27063413,Ruth,Merton,51.41029,-0.21601,Private room,27,1,0,None,None,1,329
83257,43543066,Large double room in a quiet area - Wimbledon,48553959,Antoine,Merton,51.41391,-0.19882,Private room,30,2,0,None,None,1,76

In [81]:
Newham_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Newham')]
Newham_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
34,46511,Apartment with two large double bedrooms,208052,Domenico,Newham,51.53604,0.01940,Private room,80,4,0,None,None,1,348
121,98776,Single room; friendly house; East London,134606,Cryn,Newham,51.53454,0.02706,Private room,27,1,111,2020-02-29,1.01,1,325
258,260259,"SPACIOUS DOUBLE ROOM, Gay friendly",1286929,Gurpal,Newham,51.53183,0.04920,Private room,50,1,0,None,None,1,345
309,289422,Double Bedroom in Victorian House,862386,Veneranda And Leo,Newham,51.52185,0.02417,Private room,45,3,41,2020-01-05,0.4,7,347
310,289802,Single room in Victorian house,862386,Veneranda And Leo,Newham,51.52185,0.02417,Private room,45,3,36,2019-08-18,0.36,7,345
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82535,43216571,Nice Bedroom on central London.\nNext to Westf...,8606823,Najib,Newham,51.53163,0.01052,Private room,30,1,0,None,None,1,0
82619,43265079,Big En Suite double bedroom at London Excel,21407914,Fouad,Newham,51.51095,0.02980,Private room,40,1,0,None,None,1,345
82766,43357098,Nice room in the Stratford area,119967765,Vani,Newham,51.54821,0.00865,Private room,28,3,0,None,None,8,1
82983,43429806,Stratford - room 1 ensuite,140424307,Ferzana,Newham,51.53471,0.00355,Private room,35,1,0,None,None,1,347
83623,43709205,Single Room for rent w/ Living room/Garden/Drive,134935389,Junaid,Newham,51.51687,0.06793,Private room,40,3,0,None,None,1,160

In [82]:
Redbridge_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Redbridge')]
Redbridge_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
51,62898,Economy stay,306592,Khalid,Redbridge,51.56093,0.06692,Private room,49,1,0,None,None,7,345
52,62901,Twin Room (shared bathroom ),306592,Khalid,Redbridge,51.55942,0.06846,Private room,55,1,0,None,None,7,348
61,69119,Ensuite double room,306592,Khalid,Redbridge,51.56131,0.06822,Private room,70,1,0,None,None,7,348
503,388387,Bed & Breakfast - Double Room!,1943308,Maurizio,Redbridge,51.61599,0.04658,Private room,50,2,0,None,None,1,160
514,388995,Tidy double bedroom,1946207,Anandraj,Redbridge,51.59113,0.08057,Private room,150,1,0,None,None,1,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83051,43450179,"The Broadway, Woodford",251632850,Daniel,Redbridge,51.60712,0.03346,Private room,55,1,0,None,None,1,348
83104,43469759,Cozy Short Term Single Room (next to Central L...,296364399,Dee,Redbridge,51.57760,0.09378,Private room,37,3,0,None,None,1,348
83197,43510883,"multi cultured, safe and hip area",347025681,Emine,Redbridge,51.57675,0.05952,Private room,30,1,0,None,None,1,163
83238,43531804,Inglenook House,347413188,Tara,Redbridge,51.61802,0.02661,Private room,400,2,0,None,None,1,342
83633,43713448,Home Comfort,141011309,Mohammad,Redbridge,51.58024,0.10555,Private room,25,1,0,None,None,1,163

In [83]:
Richmond_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Richmond upon Thames')]
Richmond_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
117,97974,Large bedroom with 1 double bed,517799,Sue & Jon,Richmond upon Thames,51.46587,-0.23632,Private room,75,2,91,2018-05-04,1.04,1,0
143,127860,Double bedroom in cottage Twickenham (sleeps 1-2),161720,Andy,Richmond upon Thames,51.44715,-0.33925,Private room,1000,2,0,None,None,1,0
179,182802,Quiet Double Room - Good for walks,876774,Heather,Richmond upon Thames,51.43855,-0.32191,Private room,50,1,166,2020-03-08,1.65,1,345
491,387835,Large Dble Room TV+wifi nr NPL & College,1940607,Graham,Richmond upon Thames,51.42833,-0.34646,Private room,39,1,155,2020-03-08,1.55,2,320
501,388369,Small Double in Leafy Teddington,1943227,Liz,Richmond upon Thames,51.43128,-0.33811,Private room,25,1,146,2020-02-09,1.46,1,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81653,42971224,Double Bedroom in a luxury house,97296763,Niamh,Richmond upon Thames,51.46298,-0.27635,Private room,80,1,0,None,None,4,163
81654,42971225,Brand New House next to richmond park,97296763,Niamh,Richmond upon Thames,51.46160,-0.27549,Private room,100,1,0,None,None,4,160
82215,43102343,Beautiful double room overlooking Twickenham g...,2458515,Sarah,Richmond upon Thames,51.44318,-0.34403,Private room,30,2,0,None,None,1,70
82634,43278508,Double Room In Richmond Enjoy Fast Fiber Inte...,21329248,Daniel,Richmond upon Thames,51.46850,-0.28028,Private room,25,90,0,None,None,1,345
83282,43553728,Huge double room in very quiet cul-de-sac.,43243241,Richard,Richmond upon Thames,51.46455,-0.29118,Private room,48,14,0,None,None,1,136

In [84]:
Southwark_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Southwark')]
Southwark_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
10,37384,In the footsteps of William Blake..,161459,Liz,Southwark,51.46871,-0.06455,Private room,70,2,55,2019-06-27,0.46,1,347
16,38995,SPACIOUS ROOM IN CONTEMPORARY STYLE FLAT,167281,Cesar,Southwark,51.47871,-0.06063,Private room,39,1,6,2020-02-21,1.38,1,72
22,41712,Room with a view zone 1 Central Bankside,182322,Nina,Southwark,51.50205,-0.10015,Private room,60,1,92,2019-12-17,0.81,2,346
72,78892,Bright single room in family home.,424230,Julia,Southwark,51.46452,-0.07970,Private room,32,3,56,2019-11-24,0.88,1,0
133,108529,"PRIVATE APARTMENT: Light, Fresh and Central",561650,Robert,Southwark,51.47144,-0.08815,Private room,70,2,406,2020-02-15,3.72,1,348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83244,43534338,Cosy Double Bedroom In Bermondsey Zone 2,64952051,Alex,Southwark,51.49047,-0.06379,Private room,60,2,0,None,None,2,162
83403,43619533,Room on Central Cozy Flat w/ Skyline Balcony,10305177,Andy,Southwark,51.49959,-0.04590,Private room,90,2,0,None,None,1,0
83408,43620789,Single room near Elephant & Castle,168699679,Lukas,Southwark,51.48488,-0.08832,Private room,20,6,0,None,None,2,0
83574,43684427,Modern flat with workspace and private bathroom,29864929,Cindy,Southwark,51.49696,-0.07019,Private room,59,2,0,None,None,1,190
83709,43749033,King room with OWN bathroom in central London,290487366,Barry,Southwark,51.50370,-0.09526,Private room,69,7,0,None,None,1,54

In [85]:
Sutton_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Sutton')]
Sutton_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1842,1052279,Cozy room 25 min from Victoria st.,5037537,Oksana,Sutton,51.37529,-0.15511,Private room,25,30,23,2019-05-21,0.27,5,348
2233,1389298,Double room 25 min from Victoria,5037537,Oksana,Sutton,51.37569,-0.15416,Private room,20,15,19,2020-03-06,0.24,5,0
2444,1624107,Bright flat & great links (entire place in March),8624773,James,Sutton,51.36873,-0.16510,Private room,60,3,3,2014-09-19,0.04,1,0
2690,1880925,Large Double Room in London,9792509,Zhen,Sutton,51.36108,-0.18873,Private room,35,1,79,2019-07-17,0.99,2,274
3130,2373150,Double bedroom for single occupancy in Sutton,12122942,Neeru,Sutton,51.36029,-0.19859,Private room,30,5,15,2018-06-30,0.26,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
81689,42979118,Single room with pool/billiard and table tennis,147885591,Gusmaryuli,Sutton,51.35235,-0.14350,Private room,60,1,0,None,None,1,162
81851,43011861,Stylish Double Rooms with Shared kitchen/Toilets,301446037,Christof Eugenio,Sutton,51.36865,-0.15255,Private room,33,1,1,2020-04-30,0.65,2,10
81910,43030046,Ensuite cozy double bed private room greatloca...,106055799,Vinod,Sutton,51.38699,-0.13039,Private room,30,1,0,None,None,2,348
83269,43551185,Rendeers and lavenders,344090261,Serci,Sutton,51.34353,-0.19754,Private room,75,2,0,None,None,1,76
83274,43552862,Double room with private shower and toilet,55718829,Faisal,Sutton,51.38217,-0.21363,Private room,100,3,0,None,None,2,348

In [86]:
Tower_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Tower Hamlets')]
Tower_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
50,62747,Beautiful huge double room in artist’s garden ...,289179,Jacinta,Tower Hamlets,51.52126,-0.05696,Private room,38,2,100,2020-03-08,5.01,2,50
104,90549,"Central, Luxury & Large Ensuite Canary Wharf",490830,Daniel,Tower Hamlets,51.49764,-0.01365,Private room,75,2,126,2020-03-08,3.76,1,89
125,100479,DBL rm near Trendy Shoreth\Brick La,506748,Mireya,Tower Hamlets,51.52715,-0.05594,Private room,55,1,4,2015-09-24,0.07,1,0
128,103682,"Newly upgraded! 2 private rooms, bath, kitchen...",540340,Rachel,Tower Hamlets,51.53330,-0.03032,Private room,60,3,64,2020-03-09,0.69,3,28
130,106332,"Lovely large room, Bethnal Green",264345,Susie,Tower Hamlets,51.52874,-0.05396,Private room,55,3,65,2016-06-10,0.59,1,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83609,43706132,Bright airy room in friendly central house share,201338996,Luna,Tower Hamlets,51.51252,-0.06025,Private room,14,10,0,None,None,2,30
83640,43719184,Centrally located double room with desk and ga...,52023198,Sarah,Tower Hamlets,51.52638,-0.07384,Private room,35,3,0,None,None,1,48
83664,43724212,"Zone 1-Lovely, bright flat available now!!!",161039880,Jasmin,Tower Hamlets,51.51676,-0.06609,Private room,87,1,0,None,None,1,347
83666,43724829,Single Room for GIRLS only in shared household.,76765440,Beata,Tower Hamlets,51.51245,-0.02421,Private room,30,14,0,None,None,1,162
83677,43733677,Garden Room by the Thames with view of O2 * Zo...,188699483,Phillip,Tower Hamlets,51.50363,-0.00805,Private room,58,1,0,None,None,4,249

In [87]:
Waltham_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Waltham Forest')]
Waltham_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
23,41870,Room in relaxed family house!,182993,Bimpe,Waltham Forest,51.55842,0.00382,Private room,35,2,2,2011-07-02,0.02,1,0
71,78606,Peaceful Room Near Epping Forest,422362,Nicola,Waltham Forest,51.57157,0.01088,Private room,45,1,2,2019-09-26,0.22,1,348
254,256975,Double room in quaint East London House,280260,James And Kathleen,Waltham Forest,51.56248,-0.00646,Private room,30,3,46,2019-12-11,0.45,1,333
256,257413,(Website hidden by Airbnb) room in Sunny Apart...,1354561,Lorraine,Waltham Forest,51.59322,-0.00424,Private room,29,2,11,2016-03-15,0.11,1,163
289,276082,Bright Clean Double Room-Chingford,1442674,Tosi,Waltham Forest,51.61598,-0.02244,Private room,50,2,17,2015-07-11,0.17,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83191,43505909,London Leyton attic room,50713270,Mirjam,Waltham Forest,51.56668,-0.01433,Private room,28,10,0,None,None,4,163
83370,43600647,Medium Double Room for rent!,348075162,Eduard Silviu,Waltham Forest,51.58943,-0.01390,Private room,30,30,0,None,None,1,163
83404,43619759,Friendly and bright home with lots of character.,39009349,Tinuke,Waltham Forest,51.57028,-0.02784,Private room,40,1,0,None,None,1,289
83477,43638681,"Cosy Room, In The Heart Of Walthamstow Village",348454966,Jon,Waltham Forest,51.58352,-0.00984,Private room,45,1,0,None,None,1,41
83479,43639553,One double room in nice quite clean home London,75601723,Mohamed,Waltham Forest,51.56202,-0.01499,Private room,33,3,0,None,None,1,226

In [88]:
Wandsworth_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Wandsworth')]
Wandsworth_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
99,88032,Wimbledon Luxury Home Twin Room,481587,Angela,Wandsworth,51.44593,-0.20608,Private room,60,2,38,2019-08-02,0.41,2,153
106,92644,Twin room,498201,Deirdre,Wandsworth,51.44004,-0.18755,Private room,42,1,181,2020-02-22,1.65,1,167
177,180449,London Battersea Light & Quiet room,864565,Sarah,Wandsworth,51.46932,-0.15277,Private room,57,2,171,2020-05-31,1.6,2,319
228,241621,"Bright Double room, LONDON. Zone 3",1267045,Clare,Wandsworth,51.42864,-0.15701,Private room,29,3,107,2018-11-08,1.08,2,125
261,263672,Single Room - Clapham / Battersea,1383749,Henrietta,Wandsworth,51.46938,-0.17134,Private room,35,1,156,2020-03-04,1.54,2,344
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83338,43578666,Beautiful flat with view overlooking the Thames,13971349,Sina,Wandsworth,51.46799,-0.17819,Private room,44,2,0,None,None,1,12
83449,43632699,Big loft room with private bathroom in Southfi...,5156610,John,Wandsworth,51.44193,-0.20133,Private room,44,2,0,None,None,1,163
83532,43666286,Spacious airy double bedroom in Tooting Broadway,66612851,Věra,Wandsworth,51.43086,-0.16763,Private room,80,1,0,None,None,1,347
83572,43683855,Modern room with a double bed in a great location,195327381,Taylan,Wandsworth,51.44231,-0.21624,Private room,35,1,0,None,None,1,89
83694,43739052,Wandsworth London Zone 3. Double room,293224253,Ahsan,Wandsworth,51.42913,-0.14315,Private room,64,1,0,None,None,1,0

In [89]:
Westminster_rooms = listings.loc[(listings['room_type'] == 'Private room') & (listings['neighbourhood'] == 'Westminster')]
Westminster_rooms

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
17,39387,Stylish bedsit in Notting Hill ish flat.,168920,Alec,Westminster,51.52589,-0.19942,Private room,39,5,10,2019-11-03,0.14,1,69
48,59656,PASSING THROUGH Paddington LONDON?,196620,Fay,Westminster,51.52404,-0.18494,Private room,75,1,197,2020-03-03,1.7,3,347
98,87827,ChiqDoube Room in PrivateAppartment,479209,Paullus,Westminster,51.51106,-0.18922,Private room,150,30,0,None,None,1,344
172,174132,Large Bedroom with EnSuite Bathroom,831866,Erika,Westminster,51.52496,-0.18805,Private room,50,1,183,2020-03-15,1.72,1,335
259,260288,301 Twin or Triple West End London Comfy,1365824,Jenny,Westminster,51.51014,-0.13167,Private room,70,2,242,2020-03-08,2.31,2,346
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83566,43681272,R1,334000080,Nimo,Westminster,51.52305,-0.15850,Private room,54,1,0,None,None,1,346
83567,43682061,M1,334005766,Robert,Westminster,51.53586,-0.17545,Private room,41,1,0,None,None,1,347
83585,43688399,H11 Cosy Room with a Private Bathroom in Soho,48975847,S&D,Westminster,51.51523,-0.13306,Private room,56,1,0,None,None,38,1
83589,43688820,H111 Cosy Room with a Private Bathroom in Soho,48975847,S&D,Westminster,51.51471,-0.13382,Private room,57,1,0,None,None,38,1
83706,43747259,Room with Complete Privacy - Zone 1 Central Lo...,349591259,H,Westminster,51.51828,-0.15819,Private room,28,1,0,None,None,1,71

In [17]:
listings.loc[listings['room_type'] == 'Private room']

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,number_of_reviews,last_review,reviews_per_month,calculated_host_listings_count,availability_365
1,13913,Holiday London DB Room Let-on going,54730,Alina,Islington,51.56802,-0.11121,Private room,65,1,21,2020-02-22,0.18,3,347
4,17506,Boutique Chelsea/Fulham Double bed 5-star ensuite,67915,Charlotte,Hammersmith and Fulham,51.47935,-0.19743,Private room,150,3,0,None,None,2,346
5,25123,Clean big Room in London (Room 1),103583,Grace,Barnet,51.57224,-0.20906,Private room,29,10,129,2020-03-15,1.04,3,348
6,33332,Beautiful Ensuite Richmond-upon-Thames borough,144444,Chi-Chi,Hounslow,51.46507,-0.32421,Private room,100,1,6,2020-03-08,0.05,2,348
8,36660,You are GUARANTEED to love this,157884,Agri & Roger,Haringey,51.58461,-0.16170,Private room,72,2,528,2020-02-17,4.44,4,311
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
83693,43738876,Friendly accommodation room en-suite,33659738,David,Barnet,51.61300,-0.17912,Private room,23,7,0,None,None,2,0
83694,43739052,Wandsworth London Zone 3. Double room,293224253,Ahsan,Wandsworth,51.42913,-0.14315,Private room,64,1,0,None,None,1,0
83695,43739391,Spacious double room close to central London,158099657,Tautvyde,Haringey,51.58684,-0.10459,Private room,35,1,0,None,None,1,70
83706,43747259,Room with Complete Privacy - Zone 1 Central Lo...,349591259,H,Westminster,51.51828,-0.15819,Private room,28,1,0,None,None,1,71
83709,43749033,King room with OWN bathroom in central London,290487366,Barry,Southwark,51.50370,-0.09526,Private room,69,7,0,None,None,1,54

In [20]:
listings['room_type'].values

array(['Entire home/apt', 'Private room', 'Entire home/apt', ...,
       'Entire home/apt', 'Private room', 'Entire home/apt'], dtype=object)

In [11]:
listings.to_csv('listings_c.csv')

In [7]:
neighborhoods = pd.read_csv('C:\\Users\\Danny\\Desktop\\GITHUB\DANIELWALLACE_CAPSTONE2\\DANIELWALLACE_CAPSTONE2DATA\\neighborhoods.csv')
neighborhoods

    neighbourhood_group           neighbourhood
0                   NaN    Barking and Dagenham
1                   NaN                  Barnet
2                   NaN                  Bexley
3                   NaN                   Brent
4                   NaN                 Bromley
5                   NaN                  Camden
6                   NaN          City of London
7                   NaN                 Croydon
8                   NaN                  Ealing
9                   NaN                 Enfield
10                  NaN               Greenwich
11                  NaN                 Hackney
12                  NaN  Hammersmith and Fulham
13                  NaN                Haringey
14                  NaN                  Harrow
15                  NaN                Havering
16                  NaN              Hillingdon
17                  NaN                Hounslow
18                  NaN               Islington
19                  NaN  Kensington and Chelsea
20                  NaN    Kingston upon Thames
21                  NaN                 Lambeth
22                  NaN                Lewisham
23                  NaN                  Merton
24                  NaN                  Newham
25                  NaN               Redbridge
26                  NaN    Richmond upon Thames
27                  NaN               Southwark
28                  NaN                  Sutton
29                  NaN           Tower Hamlets
30                  NaN          Waltham Forest
31                  NaN              Wandsworth
32                  NaN             Westminster

In [8]:
neighborhoods.drop(['neighbourhood_group'], axis = 1)

             neighbourhood
0     Barking and Dagenham
1                   Barnet
2                   Bexley
3                    Brent
4                  Bromley
5                   Camden
6           City of London
7                  Croydon
8                   Ealing
9                  Enfield
10               Greenwich
11                 Hackney
12  Hammersmith and Fulham
13                Haringey
14                  Harrow
15                Havering
16              Hillingdon
17                Hounslow
18               Islington
19  Kensington and Chelsea
20    Kingston upon Thames
21                 Lambeth
22                Lewisham
23                  Merton
24                  Newham
25               Redbridge
26    Richmond upon Thames
27               Southwark
28                  Sutton
29           Tower Hamlets
30          Waltham Forest
31              Wandsworth
32             Westminster

In [12]:
neighborhoods.to_csv('neighborhoods_c.csv')